<?xml version="1.0" encoding="utf-8"?>
<component>
  <title messageId="RssShow.Title" />
  <description messageId="RssShow.Description" />
  <iconPath>images/rss_in.gif</iconPath>
  <group key="rss" sortIndex="150" >
    <title>RSS</title>
    <parent>
      <group key="content" />
    </parent>
  </group>
</component>