<?xml version="1.0" encoding="utf-8"?>
<component>
  <title messageId="Component.Title" />
  <description messageId="Component.Description" />
  <iconPath>images/iblock_element_random.gif</iconPath>
  <group key="iblocks" sortIndex="100">
    <title messageId="Group" />
    <parent>
      <group key="content" />
    </parent>
  </group>
</component>