tr.settings {background-color:#E8E7E6;}
.settings a.minus {background-image:url(images/minus.gif);}
.settings a.plus {background-image:url(images/plus.gif);}
.settings a.sign {background-position:left top;background-repeat:no-repeat;display:block;height:11px;overflow:hidden;width:11px;}

.photo-controls a {margin:5px;}
.photo-controls {margin:7px 0px;}
div.photo-controls{ width:100%;}
/* Big table */
table.photo_upload_table {
	background-color: #EDEDED;
	background-image: url("images/line.gif");
	background-position: right top;
	background-repeat: repeat-y;
	border-collapse:collapse;
	border: none;
	padding: 0px;
	margin: 0px;}
table.photo_upload_table #description{
	width:220px!important;
	padding:0px;}
table.photo_upload_table tr.t, table.photo_upload_table tr.b {
	height:3px;}
table.photo_upload_table tr.t td.l {
	text-align:left; 
	valign:top;}
table.photo_upload_table tr.t td.l div.empty{
	background-image: url("images/corner_left_top.gif");
	background-position: right top;
	background-repeat: no-repeat;
	width:3px;
	height:3px;
	float:left;}
table.photo_upload_table tr.b td.l {
	text-align:left; 
	valign:bottom;}
table.photo_upload_table tr.b td.l div.empty{
	background-image: url("images/corner_left_bottom.gif");
	background-position: right top;
	background-repeat: no-repeat;
	width:3px;
	height:3px;
	float:left;}
table.photo_upload_table tr.t td.r {
	text-align:right; 
	valign:top;}
table.photo_upload_table tr.t td.r div.empty{
	background-image: url("images/corner_right_top.gif");
	background-position: right top;
	background-repeat: no-repeat;
	width:3px;
	height:3px;
	float:right;}
table.photo_upload_table tr.b td.r {
	text-align:right; 
	valign:bottom;}
table.photo_upload_table tr.b td.r div.empty{
	background-image: url("images/corner_right_bottom.gif");
	background-position: right top;
	background-repeat: no-repeat;
	width:3px;
	height:3px;
	float:right;}

/* Buttons */
	/* AddFolders */
table.button, table.button-press{
	border-collapse:collapse;
	border: none;
	padding: 0px;
	margin: 0px;
	height: 34px !important;
	width: 100%;
	font-weight:bold;
	font-size:100%;
	background-image: url("images/button_02.gif");
	background-position: left top;
	background-repeat: repeat-x;
	text-align:center;
	cursor:hand;
	cursor:pointer;}
table.button td.l div.empty, table.button-press td.l div.empty{
	background-image: url("images/button_01.gif");
	background-position: left top;
	background-repeat: no-repeat;
	height: 34px;
	width: 6px;
	float:left;}
table.button td.r div.empty, table.button-press td.r div.empty{
	background-image: url("images/button_03.gif");
	background-position: right top;
	background-repeat: no-repeat;
	height: 34px;
	width: 6px;
	float:right;}
table.button-press{
	background-image: url("images/button_push_02.gif");}
table.button-press td.l div.empty{
	background-image: url("images/button_push_01.gif");}
table.button-press td.r div.empty{
	background-image: url("images/button_push_03.gif");}
	
#AddFiles, #AddFolders, #Send, #Send_form, #Clear, #CancelSend{
	float:left;
	margin-right:10px;
	margin-bottom:10px;
}

#Send table{
	color:gray;}
#SendColor,#CancelSendColor
{
    margin-top:10px;
}

#photo_count_to_upload_div {
	padding:0px;}
#photo_count_to_upload_div #photo_count_to_upload{
	float:left;}

#photo_desription_field{
	width:100%;
	padding:0px;
	margin:0px;
	height:260px;
	width:200px!important;
	}
#photo_desription_field input, #photo_desription_field textarea{
	width:100%;}
#photo_desription_field #photo_desription_field_image{
	width:100%;
	text-align:center;
	padding:20px 7px;}
#photo_resize{
	font-size:90%;}
#RemoveAllFromUploadList{
	float:right;
	font-weight:bold;}
div.photo-bold{
	font-size:110%;
	font-weight: bold;}
div.hr{
	margin:1px 7px;
	height:1px;
	background:#b1b1b1;
	overflow:hidden;}
div.inner{
	padding:7px 10px 0px 10px;
	margin:0px;}
#photo_resize_div, #photo_watermark, #photo_albums_to_move{
	padding:7px 10px 0px 15px;}
#photo_error{
	color:red;
	font-size:100%;
	font-weight:bold;}
div.photo-element{
	background-color: #EDEDED;
	float:left;
	margin:2px;
	width:250px;
	padding:7px;
	}
div.photo-element input{
	width:145px;}
div.photo-element textarea{
	width:180px;}
div.photo-element div.file input{
	width:90%;}
	
#table_photo_form{
	background-image: none;
	width:auto;}
#table_photo_form tr.t td.r div.empty{
	background-image: url("images/corner_right__top.gif");}
#table_photo_form tr.b td.r div.empty{
	background-image: url("images/corner_right__bottom.gif");}

#photo_data{
	padding:10px 14px;}

div.waitwindow {
	position:absolute; 
	width:170px; 
	padding:10px; 
	background-color:#FCF7D1; 
	border:1px solid #EACB6B; 
	text-align:center; 
	z-index:10000; 
	font-size:70%; 
	background-image:url(images/wait.gif); 
	background-position:10px center; 
	background-repeat:no-repeat;}
