<?xml version="1.0" encoding="utf-8"?>
<component>
  <title messageId="Component.Title" />
  <description messageId="Component.Description" />
  <iconPath>images/selector.gif</iconPath>
  <group key="system_menu" sortIndex="100">
    <title messageId="Group" />
    <parent>
      <group key="utility" />
    </parent>
  </group>
</component>