<?xml version="1.0" encoding="utf-8"?>
<component>
  <title messageId="Page.Title" />
  <description messageId="Page.Description" />
  <iconPath>images/icon.gif</iconPath>
  <group key="iblocks" sortIndex="100">
    <title messageId="Group" />
    <parent>
      <group key="content" />
    </parent>
  </group>
</component>