<?xml version="1.0" encoding="utf-8"?>
<BXConfig>
	<authorization>
		<allow type="ReadExecutable" roles="Guest" />
		<allow type="ReadNonExecutable" roles="Guest" />
		<allow type="View" roles="Admin" />
		<allow type="List" roles="Admin" />
		<allow type="Security" roles="Admin" />
		<allow type="WriteDirectory" roles="Admin" />
		<allow type="WriteExecutable" roles="Admin" />
		<allow type="WriteNonExecutable" roles="Admin" />
		<allow type="ReadExecutable" roles="Admin" />
		<allow type="ReadNonExecutable" roles="Admin" />
		<allow type="UploadExecutable" roles="Admin" />
		<allow type="UploadNonExecutable" roles="Admin" />
	</authorization>
</BXConfig>