<?xml version="1.0" encoding="utf-8"?>
<urlRewriting>
	<rule componentName="bitrix:catalogue" path="~/company/vacancies.aspx" matchExpression="^~/company/vacancies[\s]*(?:[\\\/\?\#]|$)" sort="800" helperId="bx-catalogue1" />
	<rule componentName="bitrix:system.auth" path="~/login.aspx" matchExpression="^~/login[\s]*(?:[\\\/\?\#]|$)" sort="900" helperId="bx-systemauth1" />
	<rule componentName="bitrix:news" path="~/news.aspx" matchExpression="^~/news[\s]*(?:[\\\/\?\#]|$)" sort="900" helperId="bx-news1" />
	<rule componentName="bitrix:catalogue" path="~/products.aspx" matchExpression="^~/products[\s]*(?:[\\\/\?\#]|$)" sort="900" helperId="bx-catalogue2" />
	<rule componentName="bitrix:catalogue" path="~/services.aspx" matchExpression="^~/services[\s]*(?:[\\\/\?\#]|$)" sort="900" helperId="bx-catalogue1" />
</urlRewriting>