div.myElementListBody {  margin-top:3px; }
div.myElementListText { margin-top:3px; }
div.myElementListLinkContainer { }
a.myElementListAddLink { }
div.myElementListButtonListContainer { line-height:20px; margin:5px 0px 0px 0px; }
span.myElementListButtonContainer { padding:0; margin:0; }
span.myElementListButtonContainer a { line-height:20px; text-decoration:none; }
span.myElementListButtonContainer img { border-style:none; vertical-align:middle; }

div.myElementListSeparator{ margin-top:5px; height:10px; background-image:url(images/dot.gif); background-position: left top; background-repeat:repeat-x; }
