<?xml version="1.0" encoding="utf-8"?>
<BXConfig>
  <location path="include.lang">
    <authorization>
      <deny type="WriteExecutable" roles="Guest" /><deny type="WriteNonExecutable" roles="Guest" /><deny type="WriteDirectory" roles="Guest" />
    </authorization>
  </location>
  <authorization />
</BXConfig>