<?xml version="1.0" encoding="utf-8" ?>
<dependencies>
	<component name="bitrix:forum.list" template="%PARENT%" />
	<component name="bitrix:forum.menu" template="%PARENT%" />
	<component name="bitrix:forum.post.form" template="%PARENT%" />
	<component name="bitrix:forum.topic.list" template="%PARENT%" />
	<component name="bitrix:forum.topic.move" template="%PARENT%" />
	<component name="bitrix:forum.topic.read" template="%PARENT%" />
  <component name="bitrix:forum.post.list" template="%PARENT%" />
</dependencies>