<?xml version="1.0" encoding="utf-8" ?>
<solutions>
	<solution id="Bitrix.CommunitySite.EN" path="solution_en" sort="300">
		<title>	Site Starter: Bitrix Community Site</title>
		<description>
		<![CDATA[
		<p>Community site wizard</p>
		]]>
		</description>
		<image>solution_en/images/solution.png</image>
	</solution>
</solutions>