<?xml version="1.0" encoding="utf-8"?>
<component>
  <title messageId="Title" />
  <description messageId="Description" />
  <iconPath>images/iblock_compare_list.gif</iconPath>
  <group key="catalogue" sortIndex="10">
    <title messageId="Group" />
    <parent>
      <group key="content" />
    </parent>
  </group>
</component>