<?xml version="1.0" encoding="utf-8"?>
<component isComplex="True">
  <title messageId="Title" />
  <description messageId="Description" />
  <iconPath>images/photo.gif</iconPath>
  <group key="photo" sortIndex="100">
    <title messageId="Group" />
    <parent>
      <group key="content" />
    </parent>
  </group>
</component>