12/02/2015 9:10:40:INFO:12/02/2015 9:10:24: BXServerManifest.Load, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:10:40:INFO:12/02/2015 9:10:24: http://www.bitrixsoft.com/bitrix/updates.net/net_updater_list.php
12/02/2015 9:10:40:INFO:12/02/2015 9:10:24: &lang=en&stable=Y&xe=N&key=0782a31262ede75fbbf938d73e50937b&st=2&suv=7.0.0&spd=&et=Y&lic=&m_advertising=7.0.5&m_bitrix.communitysite=6.0.0&m_bitrix.corporatesite=6.0.0&m_bitrix.personalsite=6.0.0&m_blog=7.0.5&m_communicationutility=7.0.5&m_forum=7.0.3&m_iblock=7.0.5&m_main=7.0.5&m_search=7.0.0&l_en=6.0.0&action=client&su_context=bitrix
12/02/2015 9:10:41:INFO:12/02/2015 9:10:24: BXServerManifest.PopulateFields
12/02/2015 9:10:42:INFO:12/02/2015 9:10:24: BXSiteUpdater.GetLicenseData, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:10:42:INFO:12/02/2015 9:10:24: BXServerManifest.Load, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:10:42:INFO:12/02/2015 9:10:24: http://www.bitrixsoft.com/bitrix/updates.net/net_updater_list.php
12/02/2015 9:10:42:INFO:12/02/2015 9:10:24: &lang=en&stable=Y&xe=N&key=0782a31262ede75fbbf938d73e50937b&st=2&suv=7.0.0&spd=&et=Y&lic=&m_advertising=7.0.5&m_bitrix.communitysite=6.0.0&m_bitrix.corporatesite=6.0.0&m_bitrix.personalsite=6.0.0&m_blog=7.0.5&m_communicationutility=7.0.5&m_forum=7.0.3&m_iblock=7.0.5&m_main=7.0.5&m_search=7.0.0&l_en=6.0.0&action=licensedata&su_context=bitrix
12/02/2015 9:10:42:INFO:12/02/2015 9:10:24: BXServerManifest.PopulateFields
12/02/2015 9:10:42:INFO:12/02/2015 9:10:24: http://www.1c-bitrix.ru/bitrix/updates.net/net_license_data.php
12/02/2015 9:10:42:INFO:12/02/2015 9:10:24: &key=0782a31262ede75fbbf938d73e50937b&lang=en&su_context=bitrix
12/02/2015 9:11:38:INFO:12/02/2015 9:11:38: BXSiteUpdater.Initialize, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:11:38:INFO:12/02/2015 9:11:38: BXSiteUpdater.Initialize#Load, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:11:43:INFO:12/02/2015 9:11:38: BXPoller.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:11:43:INFO:12/02/2015 9:11:38: BXDownloader.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:11:43:INFO:12/02/2015 9:11:38: BXUpdaterModifier.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:11:44:INFO:12/02/2015 9:11:44: BXSiteUpdater.Initialize, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:11:44:INFO:12/02/2015 9:11:44: BXSiteUpdater.Initialize#Load, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:11:50:INFO:12/02/2015 9:11:44: BXPoller.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:11:50:INFO:12/02/2015 9:11:44: BXDownloader.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:11:50:INFO:12/02/2015 9:11:44: BXUpdaterModifier.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:11:52:INFO:12/02/2015 9:11:52: BXSiteUpdater.Initialize, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:11:52:INFO:12/02/2015 9:11:52: BXSiteUpdater.Initialize#Load, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:12:01:INFO:12/02/2015 9:11:52: BXPoller.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:12:01:INFO:12/02/2015 9:11:52: BXDownloader.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:12:01:INFO:12/02/2015 9:11:52: BXUpdaterModifier.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:12:04:INFO:12/02/2015 9:12:04: BXSiteUpdater.Initialize, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:12:04:INFO:12/02/2015 9:12:04: BXSiteUpdater.Initialize#Load, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:12:16:INFO:12/02/2015 9:12:04: BXPoller.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:12:16:INFO:12/02/2015 9:12:04: BXDownloader.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:12:16:INFO:12/02/2015 9:12:04: BXUpdaterModifier.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:12:20:INFO:12/02/2015 9:12:20: BXSiteUpdater.Initialize, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:12:20:INFO:12/02/2015 9:12:20: BXSiteUpdater.Initialize#Load, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:12:26:INFO:12/02/2015 9:12:20: BXPoller.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:12:26:INFO:12/02/2015 9:12:20: BXDownloader.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:12:26:INFO:12/02/2015 9:12:20: BXUpdaterModifier.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:12:28:INFO:12/02/2015 9:12:28: BXSiteUpdater.Initialize, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:12:28:INFO:12/02/2015 9:12:28: BXSiteUpdater.Initialize#Load, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:12:39:INFO:12/02/2015 9:12:28: BXPoller.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:12:39:INFO:12/02/2015 9:12:28: BXDownloader.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:12:39:INFO:12/02/2015 9:12:28: BXUpdaterModifier.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:12:42:INFO:12/02/2015 9:12:41: BXSiteUpdater.Initialize, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:12:42:INFO:12/02/2015 9:12:41: BXSiteUpdater.Initialize#Load, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:12:46:INFO:12/02/2015 9:12:41: BXPoller.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:12:46:INFO:12/02/2015 9:12:41: BXDownloader.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:12:46:INFO:12/02/2015 9:12:41: BXUpdaterModifier.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:12:48:INFO:12/02/2015 9:12:48: BXSiteUpdater.Initialize, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:12:48:INFO:12/02/2015 9:12:48: BXSiteUpdater.Initialize#Load, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:13:04:INFO:12/02/2015 9:12:48: BXPoller.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:13:04:INFO:12/02/2015 9:12:48: BXDownloader.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:13:04:INFO:12/02/2015 9:12:48: BXUpdaterModifier.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:13:09:INFO:12/02/2015 9:13:09: BXSiteUpdater.Initialize, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:13:09:INFO:12/02/2015 9:13:09: BXSiteUpdater.Initialize#Load, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:13:15:INFO:12/02/2015 9:13:09: BXPoller.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:13:15:INFO:12/02/2015 9:13:09: BXDownloader.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:13:15:INFO:12/02/2015 9:13:09: BXUpdaterModifier.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:13:23:INFO:12/02/2015 9:13:23: BXSiteUpdater.Initialize, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:13:23:INFO:12/02/2015 9:13:23: BXSiteUpdater.Initialize#Load, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:13:26:INFO:12/02/2015 9:13:23: BXPoller.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:13:26:INFO:12/02/2015 9:13:23: BXDownloader.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:13:26:INFO:12/02/2015 9:13:23: BXUpdaterModifier.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:13:30:INFO:12/02/2015 9:13:30: BXSiteUpdater.Initialize, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:13:30:INFO:12/02/2015 9:13:30: BXSiteUpdater.Initialize#Load, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:13:33:INFO:12/02/2015 9:13:30: BXPoller.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:13:33:INFO:12/02/2015 9:13:30: BXDownloader.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:13:33:INFO:12/02/2015 9:13:30: BXUpdaterModifier.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:13:37:INFO:12/02/2015 9:13:37: BXSiteUpdater.Initialize, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:13:37:INFO:12/02/2015 9:13:37: BXSiteUpdater.Initialize#Load, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:20:09:INFO:12/02/2015 9:13:37: BXPoller.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:20:09:INFO:12/02/2015 9:13:37: BXDownloader.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:20:09:INFO:12/02/2015 9:13:37: BXUpdaterModifier.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:20:12:INFO:12/02/2015 9:20:12: BXSiteUpdater.Initialize, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:20:12:INFO:12/02/2015 9:20:12: BXSiteUpdater.Initialize#Load, Thread.Name=, Thread.ThreadState=Background
2/12/2015 9:22:49 AM:INFO:2/12/2015 9:20:12 AM: BXSiteUpdater.CheckForUpdates, Thread.Name=, Thread.ThreadState=Background
2/12/2015 9:22:49 AM:INFO:2/12/2015 9:20:12 AM: BXServerManifest.Load, Thread.Name=, Thread.ThreadState=Background
2/12/2015 9:22:49 AM:INFO:2/12/2015 9:20:12 AM: http://www.bitrixsoft.com/bitrix/updates.net/net_updater_list.php
2/12/2015 9:22:49 AM:INFO:2/12/2015 9:20:12 AM: &lang=en&stable=Y&xe=N&key=0782a31262ede75fbbf938d73e50937b&st=1&suv=7.0.0&spd=a3VTd091QUlzQQ%3d%3d&et=Y&lic=&m_advertising=7.0.5&m_bitrix.communitysite=6.0.0&m_bitrix.corporatesite=6.0.0&m_bitrix.personalsite=6.0.0&m_blog=7.0.5&m_communicationutility=7.0.5&m_forum=7.0.3&m_iblock=7.0.5&m_main=7.0.5&m_search=7.0.0&l_ru=1.1.0&action=check&su_context=bitrix
2/12/2015 9:22:51 AM:INFO:2/12/2015 9:20:12 AM: BXServerManifest.PopulateFields
2/12/2015 9:22:51 AM:INFO:2/12/2015 9:20:12 AM: BXSiteUpdater.CheckForUpdates, updatesAvailable=True
2/12/2015 9:22:51 AM:INFO:2/12/2015 9:20:12 AM: BXServerManifest.Load, Thread.Name=, Thread.ThreadState=Background
2/12/2015 9:22:51 AM:INFO:2/12/2015 9:20:12 AM: http://www.bitrixsoft.com/bitrix/updates.net/net_updater_list.php
2/12/2015 9:22:51 AM:INFO:2/12/2015 9:20:12 AM: &lang=en&stable=Y&xe=N&key=0782a31262ede75fbbf938d73e50937b&st=1&suv=7.0.0&spd=RUxXbUNzVzVOOQ%3d%3d&et=Y&lic=&m_advertising=7.0.5&m_bitrix.communitysite=6.0.0&m_bitrix.corporatesite=6.0.0&m_bitrix.personalsite=6.0.0&m_blog=7.0.5&m_communicationutility=7.0.5&m_forum=7.0.3&m_iblock=7.0.5&m_main=7.0.5&m_search=7.0.0&l_ru=1.1.0&action=coupon&su_context=bitrix
2/12/2015 9:22:51 AM:INFO:2/12/2015 9:20:12 AM: BXServerManifest.PopulateFields
