<?xml version="1.0" encoding="utf-8"?>
<component>
  <title messageId="SystemPasswordRecoveryAlt.Title" />
  <description messageId="SystemPasswordRecoveryAlt.Description" />
  <iconPath>images/user_authform.gif</iconPath>
  <group key="Auth" sortIndex="100">
    <title messageId="User" />
    <parent>
      <group key="utility" />
    </parent>
  </group>
</component>