<?xml version="1.0" encoding="utf-8" ?>
<solutions>
	<solution id="Bitrix.PersonalSite.EN" path="solution_en" sort="100">
		<title>Site Starter: Bitrix Personal Site</title>
		<description>
		<![CDATA[
		<p>Personal site wizard</p>
		]]>
		</description>
		<image>solution_en/images/solution.png</image>
	</solution>
</solutions>