div.boundedPager {
	font-size:12px;
	margin-left:auto;
	margin-right:auto;
	padding-top:10px;
	padding-bottom:5px
}

div.boundedPager a {
	color: #2775C7;
	background:#FFFFFF none repeat scroll 0%;
	border:1px solid #DDDDDD;
	padding:2px 6px;
	text-decoration:none;
	margin-left: 1px;
	margin-right: 1px;
}

div.boundedPager span {
	background:#FFFFFF none repeat scroll 0%;
	color:#AAAAAA;
	padding:2px 6px;
}

div.boundedPager a:visited {
	background:#FFFFFF none repeat scroll 0%;
	border:1px solid #DDDDDD;
}

div.boundedPager a:active {
	background:#0259C4 none repeat scroll 0%;
	color:#FFFFFF;
}

div.boundedPager a:hover, div.boundedPager a.prevLink:hover, div.boundedPager a.nextLink:hover {
	background:#0063DC none repeat scroll 0%;
	border-color:#003366;
	color:#FFFFFF;
}

div.boundedPager span.prev {
	margin-right:15px;
}

div.boundedPager a.prevLink {
	border-width:1px;
	margin-right:15px;
}

div.boundedPager span.next {
	margin-left:15px;
}

div.boundedPager a.nextLink {
	border-width:1px;
	margin-left:15px;
}

div.boundedPager span.selected {
	border-color:#999999;
	color:#CF1C3E;
	font-size:13px;
	font-weight:bold;
	vertical-align:top;
}

div.boundedPager span.break {
	border:medium none;
	text-decoration:none;
}

div.boundedPagerShowAll {
	font-size: 9px;
}

div.boundedPagerShowAll a {
	color: #2775C7;
	text-decoration:none;
}
