div.left-menu
{
    -moz-box-sizing: border-box;
    margin-bottom: 8px;
    margin-left: 5px;
    margin-right: 5px;
    width: 170px;
}
div.left-menu a:link, div.left-menu a:visited, div.left-menu a:active, div.left-menu a:hover
{
    color: #575752;
    font-weight: bold;
    text-decoration: none;
}
div.left-menu a.selected:link, div.left-menu a.selected:visited, div.left-menu a.selected:active, div.left-menu a.selected:hover
{
    color: #E30000;
}
.bl
{
    background: #E5E5D8 url(images/bl.gif) no-repeat scroll 0pt 100%;
    margin-bottom: 4px;
    width: 100%;
}
.br
{
    background: transparent url(images/br.gif) no-repeat scroll 100% 100%;
}
.tl
{
    background: transparent url(images/tl.gif) no-repeat scroll 0pt 0pt;
}
.tr
{
    background: transparent url(images/tr.gif) no-repeat scroll 100% 0pt;
    padding: 5px 10px;
}
.clear
{
    font-size: 1px;
    height: 1px;
}
