.slider
{
  border:1px solid red;
}

.slider-left
{
  width:30px;
  height:30px;
  display:block;
  background-image:url('images/right.gif');
  background-repeat:no-repeat;
  background-position:center center;
  cursor:pointer;
}

.slider-right
{
  width:30px;
  height:30px;
  display:block;
  background-image:url('images/left.gif');
  background-repeat:no-repeat;
  background-position:center center;
  cursor:pointer;
}

.slider-left-disabled
{
  width:30px;
  height:30px;
  display:block;
  background-image:url('images/right_disabled.gif');
  background-repeat:no-repeat;
  background-position:center center;
  cursor:pointer;
}

.slider-right-disabled
{
  width:30px;
  height:30px;
  display:block;
  background-image:url('images/left_disabled.gif');
  background-repeat:no-repeat;
  background-position:center center;
  cursor:pointer;
}

.preview-frame-selected
{

    float : none;
    border:solid;
    border-width:3px;
    border-color:Blue;
}