/* Menu Items, Page Navigation */
span.blog-menu-item, div.blog-page-navigation a, 
span.blog-page-current, div.blog-page-navigation a.blog-page-previous, 
span.blog-page-dots { border-color: #d5d5d5; }

div.blog-edit-form {background: #f1f1f1;}
div.blog-note-box {border-color: #ffc34f; background: #fffdbe; }

div.blog-edit-post-form div.blog-edit-field-title input { color: #999;}
div.blog-edit-post-form div.blog-edit-field-title input.blog-editable-field { color: #000;}

/*BBCode: Quote and Code*/
table.blog-quote td, table.blog-code td  {color:#696a6a; border-color:#e8e8e8; background:#f7f7f7;}
table.blog-quote th, table.blog-code th {color:#696a6a;}
.blog-code-box {background:#f7f7f7 !important; color:#696a6a; border-color: #e8e8e8;}

.blog-post-title {background-color: #e8e8e8;}
.blog-post-title {border-top: 1px solid #d6d6d6; border-left: 1px solid #d6d6d6;}
.blog-post-title span, .blog-post-title a:link, .blog-post-title a:visited, .blog-post-title a:active {color: #5c5c5c !important;}

.blog-post-content {border-bottom-color: #CCCCCC;}

.blog-post-meta, .blog-comment-meta, .blog-comment-nav  {color: #969696;}
.blog-post-tag a, .blog-comment-meta a , .blog-mainpage-meta a{color:#969696 !important;}

.blog-post-date, .blog-comment-date {color: #6b6b6b;}
div.blog-post-edit-form, div.blog-comment-fields {background-color: #f1f1f1;}
div.blog-post-image-item-border {border-color:#D8D8D8;}
.blog-sidebar {background-color: #f5f5f5;}
.blog-sidebar h3 {border-bottom-color: #dadada;}
.blog-bottombar h3 {color: #333333;}
.blog-sidebar-title {color: #000 !important;}
.blog-sidebar-title a {color: #000 !important;}

.blog-required-field {color: red;}
.blog-vert-separator {color: #B2B2B2;}

table.blog-table-header-left th, table.blog-table-header-left td, 
table.blog-table-header-top th, table.blog-table-header-top td {border-top-color: #D5D5D5;}

div.blog-mainpage-comment .blog-mainpage-content a, 
div.blog-mainpage-blogs .blog-mainpage-content a:hover, 
div.blog-mainpage-blogs .blog-mainpage-content a, 
div.blog-mainpage-comment .blog-mainpage-content a:hover {color: #333;}

.blog-tab, .blog-tab-container {background-color: #ededed;}
.blog-tab-items {color: #767676;}
.blog-tab-items a {color:#767676 !important;}
.blog-tab-title a {color: #000 !important;}
.blog-comment-cont-white {background-color: #fff;}

div.blog-tab-left {background-image: url(images/plashka_start.gif);}
div.blog-tab-right {background-image: url(images/plashka_end.gif);}
div.blog-line {background-image: url(images/line_gradient.gif);}
.blog-rss-icon {background-image: url(images/rss_icon.gif);}

.blog-group-icon {background-image: url(images/user_group.gif);}
.blog-author-icon {background-image: url(images/user.gif);}
.blog-group-edit, .blog-post-edit-link {background-image: url(images/icon_edit.gif);}
.blog-group-delete, .blog-post-delete-link  {background-image: url(images/icon_delete.gif);}
.blog-post-comments-link {background-image: url(images/icon_comment.gif);}
.blog-post-views-link {background-image: url(images/icon_view.gif); }
.blog-post-rss-link {background-image: url(images/icon_rss_small.gif);}

.blog-comment-cont{background-image:  url(images/comment_corner.gif); background-color: #e8e8e8;}
.blog-comment-info {background-image: url(images/comment_gradient.gif);}
.blog-post-info-back {background-image: url(images/under_topic_gradient_start.gif);}
.blog-post-info {background-image: url(images/under_topic_gradient.gif);}

div.bbcode-line a:hover, div.bbcode-line a:hover img { background-color: #D7D7D7;}