/*Settings float form*/
div.settings-float-form
{
	background-color: #F8F9FC;
	border: 1px solid #ABB7D8;
	width: 510px;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	text-align:left;
}
div.settings-float-form div.content
{
	margin: 5px;
	padding: 5px;
	background-color: white;
	border: 1px solid #B8C1DD;

}
div.settings-float-form div.nohighlight
{
	border: 0px none;
}
div.settings-float-form div.buttons
{
	text-align: center;
	margin: 10px;
}
div.settings-float-form h2
{
	margin: 8px 0px 8px 0px;
	font-size: 75%;
}
div.settings-float-form .button
{
	margin: 2px 0px 2px 0px;
	width: 80px;
}
div.settings-float-form .select
{
	width: 175px;
}
div.settings-float-form a.delete-icon
{
	display: block;
	width: 20px;
	height: 20px;
	background-image: url(images/buttons/delete.gif);
}
div.settings-float-form div.title
{
	background-color: #23468A;
	background-image: url(images/calendar/title_bg.gif);
	background-repeat: repeat-x;
	background-position: left top;
}
div.settings-float-form div.title td.title-text
{
	font-size: 8pt;
	font-weight: bold;
	color: #EEF1F7;
	padding: 3px;
	cursor: move;
	vertical-align: top;
}
div.settings-float-form a.close
{
	display: block;
	width: 13px;
	height: 13px;
	background-image: url(images/calendar/close.gif);
	overflow: hidden;
	margin: 3px;
	background-repeat: no-repeat;
	background-position: top left;
}
div.settings-float-form div.icon
{
	float: right;
	padding: 4px;
}
div.settings-float-form div.description
{
	font-size: 8pt;
	margin: 5px;
	background-color: #F5F5F5;
	border: 1px solid #B8C1DD;
}
div.settings-float-form div.description p
{
	font-size: 8pt;
	margin: 5px;
}
div.settings-float-form div.description p.note
{
	font-size: 8pt;
	color: #787878;
}
div.settings-float-form div.description p.note a
{
	font-size: 8pt;
	color: #787878;
	text-decoration: none;
}
div.settings-float-form div.description p.note a:hover
{
	color: #787878;
	text-decoration: underline;
}
div.settings-float-form div.description p.error
{
	font-size: 8pt;
	color: Red;
}

/*
div.settings-float-form div.content td {font-size:70%;}
div.settings-float-form div.content tr.section td {background-image:none; background-color:#E8E7E6; padding:3px;}
div.settings-float-form div.content td {font-size:11px;padding:3px 3px 4px 0px;}
div.settings-float-form div.content td.line {background-image:url(public/dot_hor.gif); background-position:left bottom; background-repeat:repeat-x;}
div.settings-float-form div.content td.label {text-align:right;}
*/

div.settings-float-form a.minus
{
	background-image: url(public/minus.gif);
}
div.settings-float-form a.plus
{
	background-image: url(public/plus.gif);
}
div.settings-float-form a.sign
{
	background-position: left top;
	background-repeat: no-repeat;
	display: block;
	height: 11px;
	overflow: hidden;
	width: 11px;
}

div.settings-float-form .bx-width100
{
	width: 100% !important;
}
div.settings-float-form .bx-width50
{
	width: 50% !important;
}
div.settings-float-form table.separated td.separated
{
	background-image: url(public/dot_hor.gif) !important;
	background-position: left bottom !important;
	background-repeat: repeat-x !important;
	font-size: 11px !important;
	font-weight: normal !important;
	line-height: normal !important;
	padding: 3px 3px 4px 0px !important;
}

div.settings-float-form table.separated td.label
{
	text-align:right !important;
}
