div.bx-core-window table.BXSecurityUIWrapper,
table.BXSecurityUIWrapper
{
	border:0px none !important;
}

div.bx-core-window table.BXSecurityUIWrapper td,
table.BXSecurityUIWrapper td
{
	margin:0px !important;
	padding:0px !important;
	border:0px none !important;
	background:none !important;
}

/* BXSecurityUI */
div.bx-core-window table.BXSecurityUI,
table.BXSecurityUI
{
	/*height: 310px;*/
}

div.bx-core-window table.BXSecurityUI td,
table.BXSecurityUI td
{
	background:none repeat scroll 0 0 transparent;
}

div.bx-core-window table.BXSecurityUI p,
table.BXSecurityUI p
{
	font-size: 11px !important;
}

div.bx-core-window table.BXSecurityUI tr.horizontal-separator, 
table.BXSecurityUI tr.horizontal-separator div.empty
{
	width: 250px !important;
	height: 5px !important;
}

div.bx-core-window table.BXSecurityUI div.roles-div,
table.BXSecurityUI div.roles-div
{
	border: solid 1px #ABB6D7 !important;
}

div.bx-core-window table.BXSecurityUI div.roles-container,
table.BXSecurityUI div.roles-container
{
	width: 248px !important;
	height: 278px !important;
	overflow-y: auto !important;
	overflow-x: hidden !important;
	background-color: White !important;
}

div.bx-core-window table.BXSecurityUI div.operations-div,
table.BXSecurityUI div.operations-div
{
	border: solid 1px #ABB6D7 !important;
}

div.bx-core-window table.BXSecurityUI div.operations-container,
table.BXSecurityUI div.operations-container
{
	width: 248px !important;
	height: 308px !important;
	overflow-y: auto !important;
	overflow-x: hidden !important;
	background-color: White !important;
}

div.bx-core-window table.BXSecurityUI div.intel-div,
table.BXSecurityUI div.intel-div
{
	display: none !important;
	position: absolute !important;
	height: 100px !important;
	border: solid 1px black !important;
	background-color: red !important;
	overflow-y: auto !important;
	overflow-x: hidden !important;
}

div.bx-core-window table.BXSecurityUI div.intel-div table.intel-table,
table.BXSecurityUI div.intel-div table.intel-table
{
	width: 100% !important;
	border: none !important;
	padding: 0px !important;
	border-collapse: collapse !important;
}

div.bx-core-window table.BXSecurityUI table.roles,
table.BXSecurityUI table.roles
{
	width: 100% !important;
	border-collapse: collapse !important;
}

div.bx-core-window table.BXSecurityUI table.roles tr.role-selected td,
table.BXSecurityUI table.roles tr.role-selected td
{
	/*background-color: navy !important; */
	background-color: #D5DAE9 !important;
}

div.bx-core-window table.BXSecurityUI table.roles tr.role-selected td p,
table.BXSecurityUI table.roles tr.role-selected td p
{
	/*color: white !important;*/
}

div.bx-core-window table.BXSecurityUI table.roles td.delete-cell,
table.BXSecurityUI table.roles td.delete-cell
{
	width: 22px !important;
	height: 34px !important;
}

div.bx-core-window table.BXSecurityUI table.roles div.delete-div,
table.BXSecurityUI table.roles div.delete-div
{
	width: 22px !important;
	height: 34px !important;
}

div.bx-core-window table.BXSecurityUI table.roles div.delete-button,
table.BXSecurityUI table.roles div.delete-button
{
	width: 16px !important;
	height: 16px !important;
	position: relative !important;
	left: 3px !important;
	top: 9px !important;
	cursor: pointer !important;
	background-image: url('images/security/delete-gray.gif') !important;
}

div.bx-core-window table.BXSecurityUI table.roles div.delete-button-selected,
table.BXSecurityUI table.roles div.delete-button-selected
{
	background-image: url('images/security/delete.gif') !important;
}

div.bx-core-window table.BXSecurityUI table.roles td.image-cell,
table.BXSecurityUI table.roles td.image-cell
{
	width: 42px !important;
	height: 34px !important;
}

div.bx-core-window table.BXSecurityUI table.roles div.image-div,
table.BXSecurityUI table.roles div.image-div
{
	width: 42px !important;
	height: 34px !important;
	background-position: 5px 1px !important;
	background-repeat: no-repeat !important;
}

/*table.BXSecurityUI table.roles div.image-div
{
	width: 32px !important; 
	height: 34px !important;
	
	position: relative !important;
	left: 5px !important;
	top: 0px !important;
}*/

div.bx-core-window table.BXSecurityUI table.roles p.text-title,
table.BXSecurityUI table.roles p.text-title
{
	font-weight: bold !important;
	white-space: nowrap !important;
	margin: 0px !important;
}

div.bx-core-window table.BXSecurityUI table.roles p.text-desc,
table.BXSecurityUI table.roles p.text-desc
{
	margin: 0px !important;
}


div.bx-core-window table.BXSecurityUI table.roles div.default-image,
table.BXSecurityUI table.roles div.default-image
{
	background-image: url('images/security/default.gif') !important;
}

div.bx-core-window table.BXSecurityUI table.roles div.extra-image,
table.BXSecurityUI table.roles div.extra-image
{
	background-image: url('images/security/extra.gif') !important;
}

div.bx-core-window table.BXSecurityUI table.operations,
table.BXSecurityUI table.operations
{
	border-collapse: collapse !important;
	width: 100% !important;
}

div.bx-core-window table.BXSecurityUI table.operations td,
table.BXSecurityUI table.operations td
{
	padding: 0px 4px 0px 4px !important;
	height: 30px !important;
}

div.bx-core-window table.BXSecurityUI table.operations td.separator,
table.BXSecurityUI table.operations td.separator
{
	padding: 0px 0px 0px 12px !important;
	/*border-bottom: solid 2px black;*/
	background-color:#D5DAE9 !important;
	
	cursor: default;
}

div.bx-core-window table.BXSecurityUI table.operations td.separator p,
table.BXSecurityUI table.operations td.separator p
{
	font-weight: bold !important;	
}

div.bx-core-window table.BXSecurityUI table.operations td.empty,
table.BXSecurityUI table.operations td.empty
{
	padding: 0px !important;
	height: 5px !important;
}

div.bx-core-window table.BXSecurityUI table.operations td.check,
table.BXSecurityUI table.operations td.check
{
	/*padding-top: 1px !important; */
	width: 24px !important;
	vertical-align: top !important;
	text-align: center !important;
}

div.bx-core-window table.BXSecurityUI table.operations td.check img,
table.BXSecurityUI table.operations td.check img
{
	width: 14px;
	height: 14px;
	cursor: pointer;
}
div.bx-core-window table.BXSecurityUI table.operations td.operation,
table.BXSecurityUI table.operations td.operation
{
	vertical-align: top !important;
	cursor: default;
}

div.bx-core-window table.BXSecurityUI input.input,
table.BXSecurityUI input.input
{
	/*border: none !important;*/
	border-style: none !important;
	border-width: 0px !important;
	padding: 0px !important;
	margin: 0px !important;
	height: 23px !important;
	width: 100% !important;
	vertical-align: middle !important;
}

div.bx-core-window table.BXSecurityUI div.drop-down,
table.BXSecurityUI div.drop-down
{
	border: solid 1px #ABB6D7 !important;
	cursor: pointer !important;
	background-color: #B7C3E5 !important;
}

div.bx-core-window table.BXSecurityUI div.drop-down-highlight,
table.BXSecurityUI div.drop-down-highlight
{
	/*border: solid 1px #ABB6D7; 	cursor: pointer;*/
	background-color: #F9F9B1 !important;
}

div.bx-core-window table.BXSecurityUI div.drop-down-clicked,
table.BXSecurityUI div.drop-down-clicked
{
	border: solid 1px #ABB6D7 !important;
	cursor: pointer !important;
	background-color: Orange !important;
}

div.bx-core-window table.BXSecurityUI div.drop-down div.empty,
table.BXSecurityUI div.drop-down div.empty
{
	width: 23px !important;
	height: 23px !important;
	background-repeat: no-repeat !important;
	background-image: url(images/security/dropdown.gif) !important;
	background-position: 5px 5px !important;
}

div.bx-core-window table.BXSecurityUI div.intel-popup,
table.BXSecurityUI div.intel-popup
{
	position: absolute !important;
	width: 250px !important;
	z-index: 20000;
}

div.bx-core-window table.BXSecurityUI div.intel-popup-container,
table.BXSecurityUI div.intel-popup-container
{
	border: solid 1px #ABB6D7 !important;
	border-top: none 0px !important;
	background-color: White !important;
	height: 100px !important;
	overflow-y: auto !important;
	overflow-x: hidden !important;
}

div.bx-core-window table.BXSecurityUI div.intel-popup-container div.intel-popup-rowdiv,
table.BXSecurityUI div.intel-popup-container div.intel-popup-rowdiv
{
	font-size: 12px !important;
	white-space: nowrap !important;
	overflow-x: hidden !important;
	width: 100% !important;
	cursor: default !important;
}

div.bx-core-window table.BXSecurityUI div.intel-popup-container div.selected,
table.BXSecurityUI div.intel-popup-container div.selected
{
	background-color: Blue !important;
	color: White !important;
}

div.bx-core-window div.BXSecurityUI-intel-popup,
div.BXSecurityUI-intel-popup
{
	position: absolute !important;
	width: 250px !important;
	z-index: 20000;
}

div.bx-core-window div.BXSecurityUI-intel-popup div.BXSecurityUI-intel-popup-container,
div.BXSecurityUI-intel-popup div.BXSecurityUI-intel-popup-container
{
	border: solid 1px #ABB6D7 !important; /*border-top: none 0px !important;*/
	background-color: White !important;
	height: 100px !important;
	overflow-y: auto !important;
	overflow-x: hidden !important;
}

div.bx-core-window div.BXSecurityUI-intel-popup div.BXSecurityUI-intel-popup-container div.intel-popup-rowdiv,
div.BXSecurityUI-intel-popup div.BXSecurityUI-intel-popup-container div.intel-popup-rowdiv
{
	font-size: 12px !important;
	white-space: nowrap !important;
	overflow-x: hidden !important;
	width: 100% !important;
	cursor: default !important;
}

div.bx-core-window div.BXSecurityUI-intel-popup div.BXSecurityUI-intel-popup-container div.selected,
div.BXSecurityUI-intel-popup div.BXSecurityUI-intel-popup-container div.selected
{
	background-color: Blue !important;
	color: White !important;
}

div.bx-core-window div.BXSecurity-notes,
div.BXSecurity-notes
{
	margin-top: 16px !important;
	margin-bottom: 16px !important;
}

div.bx-core-window div.edit-form div.BXSecurity-notes, div.bx-popup-form div.BXSecurity-notes,
div.edit-form div.BXSecurity-notes, div.bx-popup-form div.BXSecurity-notes
{
	margin: 4px 0px 4px 0px !important;
}

div.bx-core-window div.BXSecurity-notes table.BXSecurity-notes td
{
	padding: 0px !important;
	background-color: #FEFDEA !important;
	font-size: 11px !important;
	color: #333333 !important;
}

div.bx-core-window div.BXSecurity-notes table.BXSecurity-notes tr.top td,
div.BXSecurity-notes table.BXSecurity-notes tr.top td
{
	border-top: 1px solid #D7D6BA !important;
}

div.bx-core-window div.BXSecurity-notes table.BXSecurity-notes td.left,
div.BXSecurity-notes table.BXSecurity-notes td.left
{
	border-left: 1px solid #D7D6BA !important;
}

div.bx-core-window div.BXSecurity-notes table.BXSecurity-notes td.right,
div.BXSecurity-notes table.BXSecurity-notes td.right
{
	border-right: 1px solid #D7D6BA !important;
}

div.bx-core-window div.BXSecurity-notes table.BXSecurity-notes tr.top td.left,
div.BXSecurity-notes table.BXSecurity-notes tr.top td.left
{
	border: 0px !important;
	background-image: url(images/notes/lt.gif) !important;
	height: 2px !important;
	width: 2px !important;
}

div.bx-core-window div.BXSecurity-notes table.BXSecurity-notes tr.top td.right,
div.BXSecurity-notes table.BXSecurity-notes tr.top td.right
{
	border: 0px !important;
	background-image: url(images/notes/rt.gif) !important;
	height: 2px !important;
	width: 2px !important;
}

div.bx-core-window div.BXSecurity-notes table.BXSecurity-notes tr.bottom td,
div.BXSecurity-notes table.BXSecurity-notes tr.bottom td
{
	border-bottom: 1px solid #D7D6BA !important;
}

div.bx-core-window div.BXSecurity-notes table.BXSecurity-notes tr.bottom td.left,
div.BXSecurity-notes table.BXSecurity-notes tr.bottom td.left
{
	border: 0px !important;
	background-image: url(images/notes/lb.gif) !important;
	height: 2px !important;
	width: 2px !important;
}

div.bx-core-window div.BXSecurity-notes table.BXSecurity-notes tr.bottom td.right,
div.BXSecurity-notes table.BXSecurity-notes tr.bottom td.right
{
	border: 0px !important;
	background-image: url(images/notes/rb.gif) !important;
	height: 2px !important;
	width: 2px !important
}

div.bx-core-window div.BXSecurity-notes table.BXSecurity-notes td.content,
div.BXSecurity-notes table.BXSecurity-notes td.content
{
	padding: 7px !important;
}

div.bx-core-window div.BXSecurity-notes table.BXSecurity-notes table.BXSecurity-legend td,
div.BXSecurity-notes table.BXSecurity-notes table.BXSecurity-legend td
{
	vertical-align: middle !important;
	height: 24px !important;
	white-space: nowrap !important;
}

div.bx-core-window div.BXSecurity-notes table.BXSecurity-notes table.BXSecurity-legend td.BXSecurity-legend-icon,
div.BXSecurity-notes table.BXSecurity-notes table.BXSecurity-legend td.BXSecurity-legend-icon
{
	vertical-align: middle !important;
	height: 24px !important;
	padding: 0px 5px 0px 5px !important;
}

div.bx-core-window div.BXSecurity-notes table.BXSecurity-notes table.BXSecurity-legend td.BXSecurity-legend-icon img,
div.BXSecurity-notes table.BXSecurity-notes table.BXSecurity-legend td.BXSecurity-legend-icon img
{
	border: none !important;
	width: 14px !important;
	height: 14px !important;
}

div.bx-core-window div.BXSecurity-notes table.BXSecurity-notes table.BXSecurity-legend td.BXSecurity-legend-description,
div.BXSecurity-notes table.BXSecurity-notes table.BXSecurity-legend td.BXSecurity-legend-description
{
	width: 100% !important;
	text-align: left !important;
	vertical-align: middle !important;
	
}

/* */