
div.bx-popup-form div.bx-popup-content-alt
{
	-moz-box-sizing: border-box;
	background-color: white;
	border: 1px solid #B8C1DD;
	margin: 0pt 5px !important;
	overflow: auto;
	padding-top: 5px !important;
}

div.bx-popup-form div.bx-popup-content-container-alt
{
	-moz-box-sizing: border-box;
	height: 100%;
	margin: 0pt 5px;
}

div.bx-popup-form div.bx-popup-content-container-alt table.edit-tab
{
	border: 1px solid #B8C1DD;
	border-top: none;
	width: 100%;
}
div.bx-popup-form div.bx-popup-content-container-alt table.edit-tab td
{
	background-color: #F8F9FC;
	padding: 4px 4px 9px 4px;
}


div.bx-popup-form div.bx-popup-content-container-alt table.edit-table
{
	width: 100%;
}
div.bx-popup-form div.bx-popup-content-container-alt table.edit-table td
{
	font-size: 100%;
	padding: 4px;
}
div.bx-popup-form div.bx-popup-content-container-alt table.edit-table td.field-name
{
	color: #646465;
	text-align: right;
}
div.bx-popup-form div.bx-popup-content-container-alt table.edit-table tr.heading td
{
	color: #525355;
	text-align: center;
	font-weight: bold;
	background-color: #E0E4F1;
}
div.bx-popup-form div.bx-popup-content-container-alt table.edit-table table td
{
	padding: 0px;
	border: none;
}
div.bx-popup-form div.bx-popup-content-container-alt table.edit-table table.edit-table td
{
	padding: 4px;
}
div.bx-popup-form div.bx-popup-content-container-alt table.edit-table div
{
	font-size: 100%;
}
div.bx-popup-form div.bx-popup-content-container-alt span.required
{
	color: red;
}


div.bx-popup-form div.bx-popup-content-container-alt table.edit-table table.internal
{
	border-collapse: collapse;
}
div.bx-popup-form div.bx-popup-content-container-alt table.edit-table table.internal td, table.edit-table table.internal table.in_internal td
{
	padding: 3px;
	border: 1px solid #CFD6E9 !important;
	font-size: 100%;
}
div.bx-popup-form div.bx-popup-content-container-alt table.edit-table table.internal tr.heading td
{
	text-align: center;
	background-color: #E7EAF5;
	font-weight: normal;
	color: #525355;
}
div.bx-popup-form div.bx-popup-content-container-alt table.edit-table table.internal td.heading
{
	color: #525355;
	background-color: #E7EAF5;
}
div.bx-popup-form div.bx-popup-content-container-alt table.edit-table table.internal table td
{
	padding: 0px;
	border: none;
}

div.bx-popup-form div.bx-popup-content-container-alt table.edit-table table.internal table td
{
	border: medium none !important;
	padding: 0px !important;
}


div.bx-popup-form div.bx-popup-content-container-alt table.edit-tab-title
{
	width: 100%;
}
div.bx-popup-form div.bx-popup-content-container-alt table.edit-tab-title td.icon
{
	padding: 5px 5px 5px 0px;
	width: 32px;
	height: 32px;
}
div.bx-popup-form div.bx-popup-content-container-alt table.edit-tab-title td.title
{
	width: 100%;
	padding: 5px 0px 5px 0px;
	font-size: 105%;
	color: #494949;
	font-weight: bold;
	font-family: Arial,helvetica,sans-serif;
}
div.bx-popup-form div.bx-popup-content-container-alt table.edit-tab-title td.delimiter
{
	padding: 0px;
	height: 5px;
	background-image: url(images/edit/title_dot.gif);
	background-position: left top;
	background-repeat: repeat-x;
}
div.bx-popup-form div.bx-popup-content-container-alt table.edit-tab-title td.delimiter-top
{
	background-position: left bottom;
}

div.bx-popup-form div.bx-popup-content-container-alt table.edit-table tr.heading td
{
	background-color: #E0E4F1 !important;
	color: #525355 !important;
	font-weight: bold !important;
	text-align: center !important;
}

div.bx-popup-form div.bx-popup-content-container-alt div.auth_picture, 
div.bx-core-dialog div.auth_picture 
{
	background-image:url(images/auth_pict.gif);
	background-position:center center;
	background-repeat:no-repeat;
	float:left;
	height:120px;
	margin:0px;
	width:105px;
}

div.bx-popup-form div.bx-popup-content-container-alt div.auth_table 
{
	float:left;
	margin:20px 10px;
}

div.bx-popup-form div.bx-popup-content-container-alt div.auth_table table td 
{
	font-size:100%;
	padding:3px;
}

div.bx-popup-form div.bx-popup-content-container-alt div.auth_table table td.label 
{
	text-align:right;
}


div.bx-popup-form div.bx-popup-title
{
	margin:0pt !important;
	padding:0pt !important;
}

div.bx-popup-form div.bx-popup-description-container{padding:0pt !important;}

div.bx-popup-form table, div.bx-popup-form div, div.bx-popup-form p{font-size: 11px !important;}

div.bx-popup-form div.bx-popup-content-container-alt table.edit-table table.message{width: 100%;}

div.bx-popup-form div.bx-popup-content
{
	margin: 0pt 5px !important;
	padding-bottom:0pt !important;
	padding-left:0pt !important;
	padding-right:0pt !important;
}

div.bx-popup-form div.bx-popup-buttons{margin:0pt !important;}

div.bx-core-dialog div.bx-core-dialog-content input.bx-expressionEditor-prefix {float:left !important; width:94px !important; height:22px !important; font-size:13px !important;}
div.bx-core-dialog div.bx-core-dialog-content input.bx-expressionEditor-expression {float:left !important; width:100px !important; height:22px !important; font-size:13px !important;}
div.bx-core-dialog div.bx-core-dialog-content label.bx-expressionEditor-delimiter {height:22px; font-size:13px !important; text-align:center !important; vertical-align:middle !important; float:left !important; width:6px !important; margin:0px !important; padding:0px !important; border:none 0px !important; }

div.bx-core-dialog div.bx-core-dialog-content input, div.bx-popup-form div.content select{padding: 0px !important;}
div.bx-core-dialog div.bx-core-dialog-content .bx-input-parameter {width:200px !important; font-size:13px !important; vertical-align:top !important; height:22px;}
div.bx-core-dialog div.bx-core-dialog-content .bx-textarea {width:200px !important; font-size:13px !important; vertical-align:top !important; height:190px;}
div.bx-core-dialog div.bx-core-dialog-content .bx-input-checkbox-parameter { margin:5px 0px 0px 0px !important; width:13px !important; height:13px !important; overflow:hidden !important;}
div.bx-core-dialog div.bx-core-dialog-content .bx-select-parameter {width:200px !important; font-size:13px !important; vertical-align:top !important; height:22px;}
div.bx-core-dialog div.bx-core-dialog-content .bx-select-multiple-parameter {width:200px !important;font-size:13px !important; vertical-align:top !important;}
div.bx-core-dialog div.bx-core-dialog-content .bx-select-double-list-parameter {width:150px !important; height:100px !important;font-size:13px !important; vertical-align:top !important;}
div.bx-core-dialog div.bx-core-dialog-content table.bx-table-double-list-parameter tr.data { }
div.bx-core-dialog div.bx-core-dialog-content table.bx-table-double-list-parameter td {background-image:none !important;}
div.bx-core-dialog div.bx-core-dialog-content input.bx-cmd-btn-double-list-parameter {margin:2px 0px !important; width:65px !important;}
div.bx-core-dialog div.bx-core-dialog-content input.bx-cmd-btn-add-double-list-parameter {margin:2px 0px !important; width:20px !important;}

div.bx-core-dialog div.bx-core-dialog-content div.parameter-buttons-container
{
	float:left !important; 
	width:22px !important; 
	height:22px !important; 
	margin: 0px 0px 0px 5px !important;
}
div.bx-core-dialog div.bx-core-dialog-content img.parameter-button
{
	width:22px; 
	height:22px;
	cursor:hand; 
	cursor:pointer;	
}
div.bx-core-dialog div.bx-core-dialog-content img.mode{margin:0px 0px;}
div.bx-core-dialog div.bx-core-dialog-content img.refresh{margin:0px 0px;}

table.bxtaskbarprops tr.bxtaskbarpropscomp td{ line-height:26px !important;}
table.bxtaskbarprops tr.bxtaskbarpropscomp .parameter-data-conainer input.bx-expressionEditor-prefix {float:left !important; width:94px !important; height:22px !important; font-size:13px !important;}
table.bxtaskbarprops tr.bxtaskbarpropscomp .parameter-data-conainer input.bx-expressionEditor-expression {float:left !important; width:100px !important; height:22px !important; font-size:13px !important;}
table.bxtaskbarprops tr.bxtaskbarpropscomp .parameter-data-conainer label.bx-expressionEditor-delimiter {height:22px; font-size:13px !important; text-align:center !important; vertical-align:middle !important; float:left !important; width:6px !important; margin:0px !important; padding:0px !important; border:none 0px !important; }

div.bx-popup-form div.bx-content-editor input, table.bxtaskbarprops tr.bxtaskbarpropscomp input, div.bx-popup-form div.content select{padding: 0px !important;}
table.bxtaskbarprops tr.bxtaskbarpropscomp .parameter-data-conainer input{width:200px !important; font-size:13px !important; vertical-align:top !important; height:22px !important;}
table.bxtaskbarprops tr.bxtaskbarpropscomp .parameter-data-conainer input.bx-input-checkbox-parameter { margin:5px 0px 0px 0px !important; width:13px !important; height:13px !important; overflow:hidden !important;}
table.bxtaskbarprops tr.bxtaskbarpropscomp .parameter-data-conainer select.bx-select-parameter {width:200px !important; font-size:13px !important; vertical-align:top !important; height:22px;}
table.bxtaskbarprops tr.bxtaskbarpropscomp .parameter-data-conainer select.bx-select-multiple-parameter {width:200px !important; font-size:13px !important; vertical-align:top !important;}
table.bxtaskbarprops tr.bxtaskbarpropscomp div.parameter-data-conainer{ float:left !important; }

table.bxtaskbarprops tr.bxtaskbarpropscomp div.parameter-data-conainer input.bx-cmd-btn-add-double-list-parameter { width:24px !important; height:24px !important; font-size:11px !important; }
table.bxtaskbarprops tr.bxtaskbarpropscomp div.parameter-data-conainer input.bx-cmd-btn-double-list-parameter { width:60px !important; font-size:11px !important; }
table.bxtaskbarprops tr.bxtaskbarpropscomp div.parameter-data-conainer select.bx-select-double-list-parameter { width:150px !important; height:100px; }

table.bxtaskbarprops tr.bxtaskbarpropscomp div.parameter-buttons-container
{
	float:left !important; 
	width:22px !important; 
	height:22px !important; 
	margin: 0px 0px 0px 5px !important;
}
table.bxtaskbarprops tr.bxtaskbarpropscomp img.parameter-button
{
	width:22px; 
	height:22px;
	cursor:hand; 
	cursor:pointer;	
}
table.bxtaskbarprops tr.bxtaskbarpropscomp img.mode
{
	margin:0px 0px; 
}
table.bxtaskbarprops tr.bxtaskbarpropscomp img.refresh
{
	margin:0px 0px; 
}

div.bx-component-panel td.bx-panel-left
{
	width: auto !important;
	cursor:move;	
}
div.bx-component-panel td.bx-panel-right
{
	width: 2px !important;	
}
div.bx-component-panel td.bx-panel-middle
{
	width: auto !important;	
}

.bx-public-dialog-content td
{
	font-size: 11px !important;
	padding: 3px 3px 4px 0px !important;
	background-image: url(public/dot_hor.gif) !important;
	background-position: left bottom !important;
	background-repeat: repeat-x !important;
	line-height: normal !important;
	font-weight: normal !important;
}
.bx-public-dialog-content tr.empty td
{
	background-image: none !important;
	padding: 1px !important;
}
.bx-public-dialog-content tr.section td
{
	background-image: none !important;
	background-color: #ededed !important;
	padding: 3px !important;
}
.bx-public-dialog-content tr.section table td
{
	padding: 0px !important;
}
.bx-public-dialog-content input, .bx-public-dialog-content select
{
	font-family: Verdana,Arial,helvetica,sans-serif;
	font-size: 11px !important;
	margin: 0 !important;
	padding: 1px !important;
}
.bx-public-dialog-content td.bx-popup-label
{
	text-align: right !important;
}

div.bx-popup-form div.bx-popup-content-container-alt form.stylesheet-editor-form 
{
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	border-width:0px;
	border-style: none;
	overflow:visible;
}

div.bx-popup-form div.bx-popup-content-container-alt div.stylesheet-editor-container 
{
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	border-width:0px;
	border-style: none;
	overflow:visible;
}

div.bx-popup-form div.bx-popup-content-container-alt div.stylesheet-editor-container textarea 
{
	min-width:100%;
	width:100%;
	/*width: expression((document.getElementById("stylesheet_editor_container").offsetWidth - 5) + "px");*/
	/*height: expression(document.getElementById("stylesheet_editor_container").clientWidth - (isNaN(parseInt(document.getElementById("stylesheet_editor_container").style.paddingRight)) ? 0 : parseInt(document.getElementById("stylesheet_editor_container").style.paddingRight)) - (isNaN(parseInt(document.getElementById("stylesheet_editor_container").style.paddingLeft)) ? 0 : parseInt(document.getElementById("stylesheet_editor_container").style.paddingLeft)) - 5 + "px");*/
	min-height:100%;
	height:100%;
	/*height: expression((document.getElementById("stylesheet_editor_container").offsetHeight - 5) + "px");*/
	/*height: expression(document.getElementById("stylesheet_editor_container").clientHeight - (isNaN(parseInt(document.getElementById("stylesheet_editor_container").style.paddingTop)) ? 0 : parseInt(document.getElementById("stylesheet_editor_container").style.paddingTop)) - (isNaN(parseInt(document.getElementById("stylesheet_editor_container").style.paddingBottom)) ? 0 : parseInt(document.getElementById("stylesheet_editor_container").style.paddingTop)) - 5 + "px");*/
	margin:0px;
	padding:0px;
	border-width:0px;
	border-style: none;
	overflow:visible;
}

form div {padding: 0pt; margin: 0pt;}

div.bx-popup-form div.bx-popup-content-container {border:none 0pt;}

/*fixes for pubstyles.css*/
div.bx-top-panel table.bx-pnbutton-noaction
{
	cursor: auto !important;
}

div.bx-component-border {position:static !important; left:0px; top:0px; margin:0px !important; padding:0px !important; /*zoom:1;*/}
div.bx-component-panel {z-index:99 !important; left:0px; top:0px; display:none; }
/***/
div.bx-component-wrapper {margin:0px; padding:0px;}

.highlight{
	border-style:none;				
	margin:0px;
	padding:0px;
	display:none;
	position:absolute;
	left:0px;
	top:0px;
	width:1px;
	height:1px;
	background-color:#800000;
	font-size:1px;
	line-height:1px;
	zoom:1;
	z-index: 90;
}
.highlight-tb
{
	/*border-top:1px dashed #FF8000;*/
	border-top:1px dashed #F00;	
	background-color:transparent;
}
.highlight-lr
{
	/*border-left:1px dashed #FF8000;*/
	border-left:1px dashed #F00;
	background-color:transparent;
}

.highlight-tb-complex
{
	/*border-top:1px dashed #FF8000;*/
	border-top:1px dashed #FF8C00;	
	background-color:transparent;
}
.highlight-lr-complex
{
	/*border-left:1px dashed #FF8000;*/
	border-left:1px dashed #FF8C00;
	background-color:transparent;
}

div.bx-popup-form div.bx-popup-content-container-alt form.debugmenu-form 
{
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	border-width:0px;
	border-style: none;
	overflow:visible;
}

div.bx-popup-form div.bx-popup-content-container-alt div.debugmenu-container 
{
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	border-width:0px;
	border-style: none;
	overflow:visible;
}

div.bx-popup-form div.bx-popup-content-container-alt div.debugmenu-container textarea 
{
	min-width:100%;
	width:100%;
	/*height: expression(document.getElementById("debugmenu_container").clientWidth - (isNaN(parseInt(document.getElementById("debugmenu_container").style.paddingRight)) ? 0 : parseInt(document.getElementById("debugmenu_container").style.paddingRight)) - (isNaN(parseInt(document.getElementById("debugmenu_container").style.paddingLeft)) ? 0 : parseInt(document.getElementById("debugmenu_container").style.paddingLeft)) - 5 + "px");*/
	min-height:100%;
	height:100%;
	/*height: expression(document.getElementById("debugmenu_container").clientHeight - (isNaN(parseInt(document.getElementById("debugmenu_container").style.paddingTop)) ? 0 : parseInt(document.getElementById("debugmenu_container").style.paddingTop)) - (isNaN(parseInt(document.getElementById("debugmenu_container").style.paddingBottom)) ? 0 : parseInt(document.getElementById("debugmenu_container").style.paddingTop)) - 5 + "px");*/
	margin:0px;
	padding:0px;
	border-width:0px;
	border-style: none;
	overflow:visible;
}

div.waitwindow p
{
	color:black;
	font-family: Verdana, Arial, sans-serif;
	font-size: 11px !important;
	font-style: normal !important;
	font-variant: normal !important;
	font-weight: normal;
	letter-spacing: normal !important;
	line-height: normal;
	text-align: center !important;
	text-indent: 0 !important;
	word-spacing: normal !important;	
}

/*WeekScheduleEditor */
div.bx-core-window .BXWeekScheduleContent { background-color: #ffffff; color: #000000; cursor: pointer; border-collapse:collapse !important; }
div.bx-core-window .BXWeekScheduleContent .weekDayRow { background-color: #ffffff; color: #000000; padding: 0px; margin: 0px; }
div.bx-core-window .BXWeekScheduleContent .weekDayRow .dayLabel, .BXWeekScheduleContent .weekDayRowGeneralized .dayLabel { padding: 0px; margin: 2px 0px 2px 6px; width: 100px; height: 15px; font-family: Verdana; font-weight: bold; font-size: 11px; text-align:left; }
div.bx-core-window .BXWeekScheduleContent .weekDayRow .day, .BXWeekScheduleContent .weekDayRow .dayEmphasis, .BXWeekScheduleContent .weekDayRow .dayChoice, .BXWeekScheduleContent .weekDayRow .dayChoiceEmphasis, .BXWeekScheduleContent .weekDayRowGeneralized .day, .BXWeekScheduleContent .weekDayRowGeneralized .dayEmphasis, .BXWeekScheduleContent .weekDayRowGeneralized .dayChoice, .BXWeekScheduleContent .weekDayRowGeneralized .dayChoiceEmphasis
{ padding: 0px; margin: 0px; padding: 0px; width: 100px; height: 23px; border: solid 1px #d9d9d9 !important; }
div.bx-core-window .BXWeekScheduleContent .weekDayRow .day, .BXWeekScheduleContent .weekDayRowGeneralized .day { background-color: #ffffff; color: #000000; }
div.bx-core-window .BXWeekScheduleContent .weekDayRow .dayEmphasis, .BXWeekScheduleContent .weekDayRowGeneralized .dayEmphasis { background-color: #e5e5e5; color: #000000; }
div.bx-core-window .BXWeekScheduleContent .weekDayRow .dayChoice, .BXWeekScheduleContent .weekDayRowGeneralized .dayChoice { background-color: #d7d7d7; color: #000000; }
div.bx-core-window .BXWeekScheduleContent .weekDayRow .dayChoiceEmphasis, .BXWeekScheduleContent .weekDayRowGeneralized .dayChoiceEmphasis { background-color: #e5e5e5; color: #000000; }
div.bx-core-window .BXWeekScheduleContent .weekDayRow .hour, .BXWeekScheduleContent .weekDayRow .hourEmphasis, .BXWeekScheduleContent .weekDayRow .hourChoice, .BXWeekScheduleContent .weekDayRow .hourChoiceEmphasis, .BXWeekScheduleContent .weekDayRowGeneralized .hour, .BXWeekScheduleContent .weekDayRowGeneralized .hourEmphasis, .BXWeekScheduleContent .weekDayRowGeneralized .hourChoice, .BXWeekScheduleContent .weekDayRowGeneralized .hourChoiceEmphasis
{ padding: 0px; margin: 0px; padding: 0px; width: 15px; height: 15px; border: solid 1px #d9d9d9 !important; color: #000000 !important; }
div.bx-core-window .BXWeekScheduleContent .weekDayRow .hourChoice { background-color: #5270ac; color: #ffffff; }
div.bx-core-window .BXWeekScheduleContent .weekDayRow .hourEmphasis { background-color: #e5e5e5; color: #ffffff; }
div.bx-core-window .BXWeekScheduleContent .weekDayRow .hourChoiceEmphasis { background-color: #8296bd; color: #ffffff; }
div.bx-core-window .BXWeekScheduleContent .weekDayRow .hourLabel, .BXWeekScheduleContent .weekDayRowGeneralized .hourLabel { padding: 0px; margin: 3px; width: 15px; height: 15px; font-family: Verdana; font-weight: normal; font-size: 11px; text-align:center; }
div.bx-core-window .BXWeekScheduleContent .weekDayRowGeneralized .hourLabel { font-weight: bold; }
div.bx-core-window .BXWeekScheduleContent .weekDayRowGeneralized .hour { background-color: #ffffff; color: #000000; }
div.bx-core-window .BXWeekScheduleContent .weekDayRowGeneralized .hourEmphasis { background-color: #e5e5e5; color: #000000; }
div.bx-core-window .BXWeekScheduleContent .weekDayRowGeneralized .hourChoice { background-color: #d7d7d7; color: #000000; }
div.bx-core-window .BXWeekScheduleContent .weekDayRowGeneralized .hourChoiceEmphasis { background-color: #e5e5e5; color: #000000; }

div.bx-core-window .BXWeekScheduleSummary { margin:10px 0px 10px 0px; }
div.bx-core-window .BXWeekScheduleSummary .label { font-family: Verdana; font-weight: normal; font-size: 11px; margin:0px 10px 0px 0px; }
div.bx-core-window .BXWeekScheduleSummary .content { margin:10px 0px 10px 0px; font-family: Verdana; font-weight: bold; font-size: 11px; }

div.bx-core-window .BXWeekScheduleLegendContainer { margin: 10px 0px 0px 0px; padding:10px 2px; border: solid 1px #d9d9d9 !important; }
div.bx-core-window .BXWeekScheduleLegendContainer .choice-icon { width: 15px; height: 15px; border:solid 1px #d9d9d9 !important; background-color: #5270ac; }
div.bx-core-window .BXWeekScheduleLegendContainer .not-choice-icon { width: 15px; height: 15px; border:solid 1px #d9d9d9 !important; }
div.bx-core-window .BXWeekScheduleLegendContainer .separator { width: 15px; height: 15px; border: none !important; }