<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<%@ Master Language="C#" Inherits="Bitrix.UI.BXMasterPage" %>
<%@ Import Namespace="Bitrix" %>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= BXSite.Current.LanguageId %>" lang="<%= BXSite.Current.LanguageId %>">
<head runat="server">
	<meta name="keywords" content="<%= Encode(Keywords["keywords"]) %>" />
	<meta name="description" content="<%= Encode(Keywords["description"]) %>" />
	<<%= "link" %> rel="shortcut icon" type="image/x-icon" href="<%= SitePath %>favicon.ico" />
	<<%= "link" %> rel="stylesheet" type="text/css" href="<%= TemplatePath %>common.css" />
	<title>Furniture Company</title>
	<!--[if lte IE 6]>
	<style type="text/css">
		
		#banner-overlay { 
			background-image: none;
			filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='<%= TemplatePath %>images/overlay.png', sizingMethod = 'crop'); 
		}
		
		div.product-overlay {
			background-image: none;
			filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='<%= TemplatePath %>images/product-overlay.png', sizingMethod = 'crop'); 			
		}
		
	</style>
	<![endif]-->
	<<%= "link" %> rel="stylesheet" type="text/css" href="<%= TemplatePath %>themes/<%= ThemeId %>/colors.css" />
	<<%= "link" %> rel="stylesheet" type="text/css" href="<%= TemplatePath %>print.css" media="print" />
</head>
<body>
	<script type="text/javascript">
function FireDefaultButton(event, target) 
{
	if (event.keyCode == 13) 
	{
		var src = event.srcElement || event.target;
		if (!src || (src.tagName.toLowerCase() != "textarea")) 
		{
			var defaultButton = document.getElementById(target);
			if (defaultButton && typeof(defaultButton.click) != "undefined") 
			{
				defaultButton.click();
				event.cancelBubble = true;
                
				if (event.stopPropagation) 
					event.stopPropagation();
                    
				return false;
			}
		}
	}
    return true;
}
	</script>
	<!-- form tag only for .NET version -->
	<form id="mainForm" class="main-form" runat="server">
	
		<div id="panel"><bx:TemplateRequisite runat="server" ID="Requisite"/></div>
		
		<div id="page-wrapper">
		    <div id="header">
			    <table id = "logo">
                <tbody>
                    <tr>
                        <td>
                            <a title="Home" href="<%=SitePath %>">
                            	<bx:IncludeComponent 
	                            	runat="server" 
	                            	ID="IncludeComponent1" 
	                            	ComponentName="bitrix:includeArea" 
	                            	Template=".default" 
	                            	Mode="File" 
	                            	FilePath="<%$ Options:Bitrix.CorporateSite:TemplateLogoIncludeArea %>" 
	                            	FileName="" 
	                            	FileNameSuffix="" 
	                            	RecursiveFileSearch="True" 
	                            	AllowEditing="True" 
                            	/>
							</a>
                        </td>
                    </tr>
                </tbody>
            </table>

                <div id="top-menu">
                    <div id="top-menu-inner">
              				<bx:IncludeComponent 
	              				runat="server" 
	              				ID="TopMenu" 
	              				ComponentName="bitrix:system.PublicMenu" 
	              				Template="top" 
	              				Depth="2" 
	              				MenuName="top" 
	              				SubMenuName="left" 
              				/>
              		 </div>
                </div>
                <div id="top-icons">
					<a href="<%=SitePath %>" class="home-icon" title="Home" ></a>
					<a href="<%=SitePath %>search/" class="search-icon" title="Search"></a>
					<a href="<%=SitePath %>contacts/" class="feedback-icon" title="Feedback"></a>
                </div>
            </div>
            
			<div id="banner">		
				<table id="banner-layout" cellspacing="0">
					<tr>
						<td id="banner-image">
						    <div>                  
						        <bx:IncludeComponent 
						        runat="server" 
						        ID="IncludeComponent3" 
						        ComponentName="bitrix:includeArea" 
						        Template=".default" 
						        Mode="File" 
						        FilePath="<%$ Options:Bitrix.CorporateSite:TemplateBannerIncludeArea %>" 
						        FileName="" 
						        FileNameSuffix="" 
						        RecursiveFileSearch="True" 
						        AllowEditing="True" />
				            </div>
				        </td>
						<td id="banner-slogan">
						    
                            <bx:IncludeComponent 
						        runat="server" 
						        ID="IncludeComponent4" 
						        ComponentName="bitrix:includeArea" 
						        Template=".default" 
						        Mode="File" 
						        FilePath="<%$ Options:Bitrix.CorporateSite:TemplateSloganIncludeArea %>" 
						        FileName="" 
						        FileNameSuffix="" 
						        RecursiveFileSearch="True" 
						        AllowEditing="True" />
                        </td>
					</tr>
				</table>
				<div id="banner-overlay"></div>	
			</div>
            
            <div id="content">   
                <div id="sidebar">

                            <bx:IncludeComponent 
	                            id="systempublicmenu1" 
	                            runat="server" 
	                            componentname="bitrix:system.PublicMenu" 
	                            template="vertical" 
	                            Depth="1" 
	                            MenuName="left" 
	                            SubMenuName="left" 
                            />

                    <div class="content-block">
                        <div class="content-block-inner">
                        <bx:IncludeComponent 
	                        id="newslist1" 
	                        runat="server" 
	                        componentname="bitrix:news.list" 
	                        template="news_sidebar" 
	                        IBlockTypeId="" 
	                        IBlockId="<%$ Options:Bitrix.CorporateSite:NewsIblockId,int %>" 
	                        PagingRecordsPerPage="3" 
	                        ShowPreviewText="True" 
	                        ShowDetailText="False" 
	                        ShowPreviewPicture="False" 
	                        PreviewTruncateLen="100" 
	                        ShowTitle="True" 
	                        SetTitle="False" 
	                        ShowDate="True" 
	                        ActiveDateFormat="MM.dd.yyyy" 
	                        HideLinkWhenNoDetail="False" 
	                        PropertyCode="" 
	                        SortBy1="ActiveFromDate" 
	                        SortBy2="Sort" 
	                        SortOrder1="Desc" 
	                        SortOrder2="Desc" 
	                        DisplayPanel="False" 
	                        UsePermissions="False" 
	                        GroupPermissions="" 
	                        ShowActiveElements="True" 
	                        ParentSectionId="0" 
	                        IncludeSubsections="True" 
	                        DetailUrl="<%$ Options:Bitrix.CorporateSite:NewsDetailUrl %>" 
	                        PagingAllow="False" 
	                        PagingMode="direct" 
	                        PagingTemplate=".default" 
	                        PagingShowOne="False" 
	                        PagingAllowAll="False" 
	                        PagingTitle="Pages" 
	                        PagingPosition="bottom" 
	                        PagingMaxPages="10" 
	                        PagingMinRecordsInverse="1" 
	                        CacheMode="Auto" 
	                        CacheDuration="3600" 
                        />
                        </div>
                    </div>
                    <div class="content-block">
                        <div class="content-block-inner">
                        <bx:IncludeComponent 
	                        id="searchform1" 
	                        runat="server" 
	                        componentname="bitrix:search.form" 
	                        template="template1" 
	                        SearchUrlTemplate="<%$ Options:Bitrix.CorporateSite:SearchUrl%>" 
                        />
                        </div>
                    </div>
                    <div class="information-block"> 
						<div class="top"></div>
						<div class="information-block-inner">
						    <bx:IncludeComponent 
							    id="catalogueelement_list1" 
							    runat="server" 
							    componentname="bitrix:catalogue.element.list" 
							    template="special_offer" 
							    IBlockTypeId="" 
							    IBlockId="<%$ Options:Bitrix.CorporateSite:CatalogIblockId,int %>" 
							    SectionId="0" 
							    SectionCode="" 
							    SortBy="ID" 
							    SortOrder="Desc" 
							    ShowSubElements="True" 
							    ShowAllElementsOnIndex="True" 
							    ActiveFilter="Active" 
							    ActiveDateFilter="All" 
							    Properties="-" 
							    AddAdminPanelButtons="False" 
							    SetPageTitle="False" 
							    SectionElementListUrl="list.aspx?section_id=#SECTION_ID#" 
							    ElementDetailUrl="<%$ Options:Bitrix.CorporateSite:ProductsDetailUrl %>" 
							    PagingAllow="True" 
							    PagingMode="direct" 
							    PagingTemplate=".default" 
							    PagingShowOne="False" 
							    PagingAllowAll="False" 
							    PagingRecordsPerPage="10" 
							    PagingTitle="Pages" 
							    PagingPosition="both" 
							    PagingMaxPages="10" 
							    PagingMinRecordsInverse="1" 
							    PagingPageID="<%$ Request:page %>" 
							    PagingShowAll="<%$ Request:showall %>" 
							    PagingIndexTemplate="" 
							    PagingPageTemplate="?page=#pageid#" 
							    PagingShowAllTemplate="?showall=y" 
							    CacheMode="Auto" 
							    CacheDuration="60" 
							    FilterByElementCustomProperty="True" 
							    ElementCustomPropertyFilterSettings="p:o:1:{s:&quot;SPECIALOFFER&quot;;b:1;};" 
						    />
						</div>
						<div class="bottom"></div>
                    </div>
			    </div>
			    <div id="workarea">
			            <% if (!string.IsNullOrEmpty(TitleHtml)) { %><h1><%= TitleHtml %></h1><% } %>
						<asp:ContentPlaceHolder ID="BXContent" runat="server" />
				</div> 
 
			</div>
			<div id="space-for-footer"></div>
		</div>
		<div id="footer">
	        <div id="copyright">
			    <bx:IncludeComponent 
		            runat="server" 
		            ID="IncludeComponent2" 
		            ComponentName="bitrix:includeArea" 
		            Template=".default" 
		            Mode="File" 
		            FilePath="<%$ Options:Bitrix.CorporateSite:TemplateCopyrightIncludeArea %>" 
		            FileName="" 
		            FileNameSuffix="" 
		            RecursiveFileSearch="True" 
		            AllowEditing="True" />
			</div>
			<bx:IncludeComponent 
				runat="server" 
				ID="IncludeComponent5" 
				ComponentName="bitrix:system.PublicMenu" 
				Template="bottom" 
				Depth="1" 
				MenuName="bottom" 
				SubMenuName="left" 
			/>
<%--			<ul id="footer-links">  
				<li><a href="<%= SitePath %>contacts.aspx" >Contacts</a></li>
				<li><a href="<%= SitePath %>login/" >Login</a></li>
			</ul>--%>
		</div>
	</form>
</body>
</html>
<script runat="server">
    public string TemplatePath { get; set; }
    public string SitePath { get; set; }
    public string RootPath { get; set; }
	public string ThemeId { get; set; }
    protected override void OnPreRender(EventArgs e)
    {
        base.OnPreRender(e);
        TemplatePath = VirtualPathUtility.ToAbsolute(AppRelativeTemplateSourceDirectory);
        RootPath = VirtualPathUtility.ToAbsolute("~/");
        SitePath = BXSite.Current.DirectoryAbsolutePath;
		ThemeId = Bitrix.Configuration.BXOptionManager.GetOptionString("Bitrix.CorporateSite", "InstalledTemplateTheme", "blue", BXSite.Current.Id);
    }
    //protected void SearchSubmit_Click(object sender, EventArgs e)
    //{
    //    Response.Redirect(BXSite.Current.DirectoryAbsolutePath + "search/?q=" + HttpUtility.UrlEncode(SearchInput.Text));
    //}
</script>