12/02/2015 9:11:38:INFO:12/02/2015 9:11:38: BXSiteUpdater.Initialize, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:11:38:INFO:12/02/2015 9:11:38: BXSiteUpdater.Initialize#Load, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:11:43:INFO:12/02/2015 9:11:38: BXPoller.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:11:43:INFO:12/02/2015 9:11:38: BXDownloader.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:11:43:INFO:12/02/2015 9:11:38: BXUpdaterModifier.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:11:44:INFO:12/02/2015 9:11:44: BXSiteUpdater.Initialize, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:11:44:INFO:12/02/2015 9:11:44: BXSiteUpdater.Initialize#Load, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:11:50:INFO:12/02/2015 9:11:44: BXPoller.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:11:50:INFO:12/02/2015 9:11:44: BXDownloader.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:11:50:INFO:12/02/2015 9:11:44: BXUpdaterModifier.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:11:53:INFO:12/02/2015 9:11:52: BXSiteUpdater.Initialize, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:11:53:INFO:12/02/2015 9:11:52: BXSiteUpdater.Initialize#Load, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:12:01:INFO:12/02/2015 9:11:52: BXPoller.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:12:01:INFO:12/02/2015 9:11:52: BXDownloader.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:12:01:INFO:12/02/2015 9:11:52: BXUpdaterModifier.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:12:04:INFO:12/02/2015 9:12:04: BXSiteUpdater.Initialize, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:12:04:INFO:12/02/2015 9:12:04: BXSiteUpdater.Initialize#Load, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:12:16:INFO:12/02/2015 9:12:04: BXPoller.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:12:16:INFO:12/02/2015 9:12:04: BXDownloader.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:12:16:INFO:12/02/2015 9:12:04: BXUpdaterModifier.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:12:20:INFO:12/02/2015 9:12:20: BXSiteUpdater.Initialize, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:12:20:INFO:12/02/2015 9:12:20: BXSiteUpdater.Initialize#Load, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:12:26:INFO:12/02/2015 9:12:20: BXPoller.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:12:26:INFO:12/02/2015 9:12:20: BXDownloader.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:12:26:INFO:12/02/2015 9:12:20: BXUpdaterModifier.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:12:28:INFO:12/02/2015 9:12:28: BXSiteUpdater.Initialize, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:12:28:INFO:12/02/2015 9:12:28: BXSiteUpdater.Initialize#Load, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:12:39:INFO:12/02/2015 9:12:28: BXPoller.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:12:39:INFO:12/02/2015 9:12:28: BXDownloader.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:12:39:INFO:12/02/2015 9:12:28: BXUpdaterModifier.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:12:42:INFO:12/02/2015 9:12:41: BXSiteUpdater.Initialize, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:12:42:INFO:12/02/2015 9:12:41: BXSiteUpdater.Initialize#Load, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:12:46:INFO:12/02/2015 9:12:41: BXPoller.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:12:46:INFO:12/02/2015 9:12:41: BXDownloader.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:12:46:INFO:12/02/2015 9:12:41: BXUpdaterModifier.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:12:48:INFO:12/02/2015 9:12:48: BXSiteUpdater.Initialize, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:12:48:INFO:12/02/2015 9:12:48: BXSiteUpdater.Initialize#Load, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:13:04:INFO:12/02/2015 9:12:48: BXPoller.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:13:04:INFO:12/02/2015 9:12:48: BXDownloader.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:13:04:INFO:12/02/2015 9:12:48: BXUpdaterModifier.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:13:09:INFO:12/02/2015 9:13:09: BXSiteUpdater.Initialize, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:13:09:INFO:12/02/2015 9:13:09: BXSiteUpdater.Initialize#Load, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:13:15:INFO:12/02/2015 9:13:09: BXPoller.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:13:15:INFO:12/02/2015 9:13:09: BXDownloader.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:13:15:INFO:12/02/2015 9:13:09: BXUpdaterModifier.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:13:23:INFO:12/02/2015 9:13:23: BXSiteUpdater.Initialize, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:13:23:INFO:12/02/2015 9:13:23: BXSiteUpdater.Initialize#Load, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:13:26:INFO:12/02/2015 9:13:23: BXPoller.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:13:26:INFO:12/02/2015 9:13:23: BXDownloader.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:13:26:INFO:12/02/2015 9:13:23: BXUpdaterModifier.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:13:30:INFO:12/02/2015 9:13:30: BXSiteUpdater.Initialize, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:13:30:INFO:12/02/2015 9:13:30: BXSiteUpdater.Initialize#Load, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:13:33:INFO:12/02/2015 9:13:30: BXPoller.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:13:33:INFO:12/02/2015 9:13:30: BXDownloader.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:13:33:INFO:12/02/2015 9:13:30: BXUpdaterModifier.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:13:37:INFO:12/02/2015 9:13:37: BXSiteUpdater.Initialize, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:13:37:INFO:12/02/2015 9:13:37: BXSiteUpdater.Initialize#Load, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:20:09:INFO:12/02/2015 9:13:37: BXPoller.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:20:09:INFO:12/02/2015 9:13:37: BXDownloader.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:20:09:INFO:12/02/2015 9:13:37: BXUpdaterModifier.Stop, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:20:12:INFO:12/02/2015 9:20:12: BXSiteUpdater.Initialize, Thread.Name=, Thread.ThreadState=Background
12/02/2015 9:20:12:INFO:12/02/2015 9:20:12: BXSiteUpdater.Initialize#Load, Thread.Name=, Thread.ThreadState=Background
