div.form-input textarea
{
    width:100%;
    margin-top:0.5em;
    margin-bottom:0.5em;
}
div.form-input input
{
    width:40%;
    margin-top:0.5em;
    margin-bottom:0.5em;
}
div.form-input select
{
    margin-top:0.5em;
    margin-bottom:0.5em;
    width:41%;
}