<?xml version="1.0" encoding="utf-8"?>
<BXConfig>
  <location path="Login.aspx">
    <authorization>
      <allow type="ReadExecutable" users="*" />
    </authorization>
  </location>
  <location path="PasswordRecovery.aspx">
    <authorization>
      <allow type="ReadExecutable" users="*" />
    </authorization>
  </location>
  <location path="PasswordRecoveryAlt.aspx">
    <authorization>
      <allow type="ReadExecutable" users="*" />
    </authorization>
  </location>
  <location path="PasswordRecoveryAlt1.aspx">
    <authorization>
      <allow type="ReadExecutable" users="*" />
    </authorization>
  </location>
  <authorization>
    <allow type="ReadExecutable" roles="Admin" />
    <allow type="ReadNonExecutable" roles="Admin" />
    <deny type="ReadExecutable" roles="Guest" />
    <deny type="ReadNonExecutable" roles="Guest" />
    <deny type="ReadExecutable" roles="User" />
    <deny type="ReadNonExecutable" roles="User" />
  </authorization>
</BXConfig>