<StateInfo>
	<dialog key="Home" initial="Page" path="~/Default.aspx">
		<state key="Page" page="~/Default.aspx" route="Home" trackCrumbTrail="false"/>
	</dialog>
	<dialog key="Product" initial="List">
		<state key="List" page="~/ProductList.aspx" route="ProductList/{*categoryName}" trackCrumbTrail="false">
			<transition key="Select" to="Details"/>
			<transition key="Add" to="AddToCart"/>
		</state>
		<state key="Details" page="~/ProductDetails.aspx" route="Product/{productName}" trackCrumbTrail="false">
			<transition key="Add" to="AddToCart"/>
		</state>
		<state key="AddToCart" page="~/AddToCart.aspx" trackCrumbTrail="false"/>
	</dialog>
	<dialog key="Cart" initial="Page">
		<state key="Page" page="~/ShoppingCart.aspx" route="ShoppingCart" trackCrumbTrail="false"/>
	</dialog>
	<dialog key="About" initial="Page">
		<state key="Page" page="~/About.aspx" route="About" trackCrumbTrail="false"/>
	</dialog>
	<dialog key="Contact" initial="Page">
		<state key="Page" page="~/Contact.aspx" route="Contact" trackCrumbTrail="false"/>
	</dialog>
</StateInfo>
