<?xml version="1.0" encoding="utf-8" ?>
<solutions>
	<solution id="Bitrix.CorporateSite.EN" path="solution_furniture_en" sort="200">
		<title>	Site Starter: Manufacturer Website</title>
		<description>
		<![CDATA[
		<p>Creates a furniture manufacturer's corporate website</p>
		]]>
		</description>
		<image>solution_furniture_en/images/solution.png</image>
	</solution>
	<solution id="Bitrix.BankSite.EN" path="solution_bank_en" sort="200">
		<title>	Site Starter: Corporate Service Site</title>
		<description>
		<![CDATA[
		<p>A corporate site wizard to create a model bank corporate site</p>
		]]>
		</description>
		<image>solution_bank_en/images/solution.png</image>
	</solution>
</solutions>