div.bx-catalog-element-list-stock-catalog-add2cart-container { width:100%; float:right; padding:1.5em 0 0 0; }
div.bx-catalog-element-list-stock-catalog-add2cart-container span.bx-catalog-element-list-stock-catalog-your-price { color:#333333; font-size: 140%; font-weight: 700; }
div.bx-catalog-element-list-stock-catalog-add2cart-container input.bx-catalog-element-list-stock-catalog-quantity { color:#333333; font-size: 140%; font-weight: 700; width:45px; }
div.bx-catalog-element-list-stock-catalog-add2cart-container input.bx-catalog-element-list-stock-catalog-button { font-size:110%; padding:0.2em; }
div.bx-catalog-element-list-stock-catalog-add2cart-container span.bx-catalog-element-list-stock-catalog-already-in-cart {font-size:97%; color:#666666; }
div.bx-catalog-element-list-stock-catalog-add2compare-container a { float:right; margin:0.25em 0 0 0; }
div.bx-catalog-element-list-stock-catalog-add2cart-container span.bx-catalog-element-list-stock-catalog-unavailable {font-size:97%; color:red; }

