
/*Comment*/
.blog-comment {margin:0; padding-bottom: 1.4em;}
.blog-comment-cont{background-repeat: no-repeat; padding: 1px; overflow: hidden; zoom:1;}
.blog-comment-info {background-repeat: repeat-x; height: 30px; padding-left: 0.4em; padding-top: 0.4em;}
.blog-comment-content {zoom:1; line-height:1.3em; display:block; padding-left: 0.95em; padding-top: 0; padding-right: 0.6em; padding-bottom: 0.3em; overflow: hidden;}

div.blog-comment-content ul, div.blog-comment-content ol,
div.blog-post-content ul, div.blog-post-content ol { padding:0.5em 0 0.5em 2em; margin:0; }

.blog-comment-meta {font-size:0.95em; line-height:1.4em; margin:0; padding:0 0.6em 0.3em 0.95em;}
.blog-comment-date {margin:0.1em 0; padding:0 0 0 0.3em; line-height: 1.4em; display:inline;}
.blog-author .blog-comment-date {font-size:89%;}
.blog-comment-author-ip {display:inline; padding:0 0 0 0.3em;}
.blog-comment-author-info {display:inline;}
.blog-comment-voting { float: right; display: inline; margin-right: 0.4em;}

.blog-comment-avatar { display: none; } 
.blog-comment-content .blog-comment-avatar { display: block; }
.blog-comment-content .blog-comment-avatar img { float:right; }

.blog-comment-meta a { text-decoration: none !important;}
.blog-comment-meta a:hover {text-decoration: underline !important;}
.blog-comment-link, .blog-comment-delete, .blog-comment-parent, .blog-comment-answer {display:inline;}
.blog-add-comment {text-align:center; padding-top: 0em; padding-bottom: 1.5em;}
.blog-comment-nav {padding-bottom: 0.6em; padding-left: 0.7em;}
.blog-comment .blog-vert-separator {font-size:0.8em; line-height:3em; vertical-align: baseline;}
.blog-comment-number { display:inline; float:right; }

.blog-author {margin:0; padding:0; display:inline; font-weight: bold;}
.blog-author-icon {width:16px; height:16px; display:block; float:left; background-repeat: no-repeat; padding-right:0.2em; line-height: 1em;}

div.blog-clear-float { clear: both; }
/*Comment-form*/
div.blog-comment-form-box {line-height:1.5em; margin:0 0 1.4em; }
div.blog-comment-field-text  {width: 100%;}
div.blog-comment-field-content textarea { width: 90%; }
div.blog-comment-field-tags { display: none; }
div.blog-comment-field-tags input { width:80%; }
div.blog-comment-field-captcha input { width: 180px;}
div.blog-comment-field-settings input { width:1.55em; height:1.55em; margin:0 0 0 -0.25em; vertical-align: middle; font-size:1em; }
div.blog-comment-field-settings label { vertical-align: middle; }
div.blog-comment-fields { padding:0.8em; zoom:1;}
div.blog-comment-field {}
div.blog-comment-field-title input, div.blog-comment-field-desc input { width: 80%;}
div.blog-comment-field-user {width: 100%; /*IE Fix or zoom:1 ; margin-bottom:1em;*/ }
div.blog-comment-field-author, div.blog-comment-field-email { float:left; width:44%;}
div.blog-comment-field-text {padding-bottom: 0.2em;}
div.blog-comment-field-user-sep { width:2%; float: left; }
div.blog-comment-field-author input, div.blog-comment-field-email input { width:100%; }
div.blog-comment-field-bbcode {padding-top: 0.7em;}
div.blog-comment-field-captcha-image{padding-top: 0.4em;}
div.blog-comment-buttons { margin-top: 1em; padding-bottom: 0.4em;}
div.blog-comment-buttons input { padding:0 0.5em; font-size:1.184em;}

/* Page navigation */
div.blog-navigation-box
{
	line-height:1.5em;
	overflow: hidden;
	zoom:1;
}

div.blog-page-navigation {}
div.blog-navigation-box { margin-bottom: 1em;}
div.blog-page-navigation a, span.blog-page-current, span.blog-page-dots
{
	border-left-width: 1px;
	border-left-style: solid;
	padding-left:0.75em;
	padding-right: 0.5em;
	text-decoration: none;
}

div.blog-page-navigation a.blog-page-previous { border-right-width:1px; border-right-style: solid; border-left: none; }
div.blog-page-navigation a.blog-page-first, div.blog-page-navigation span.blog-page-first { border-left: none; padding-left: 0.5em; }
span.blog-page-current { font-weight: bold; }

/*blog navigation*/
ul.blog-navigation {list-style-position:outside; list-style-type:none; padding: 0; margin: 0; padding-bottom: 1em; }
ul.blog-navigation li {display:inline;}
