<?xml version="1.0" encoding="utf-8"?>
<component isComplex="True">
  <title messageId="SystemAuth.Title" />
  <description messageId="SystemAuth.Description"/>
  <iconPath>images/system_auth.gif</iconPath>
  <group key="Auth" sortIndex="100">
    <title messageId="Group" />
    <parent>
      <group key="utility" />
    </parent>
  </group>
</component>