<?xml version="1.0" encoding="utf-8"?>
<component>
  <title messageId="Title" />
  <description messageId="Description" />
  <iconPath>images/icon.gif</iconPath>
  <group key="Blog" sortIndex="100">
    <title messageId="Group" />
    <parent>
      <group key="communication" />
    </parent>
  </group>
</component>