<?xml version="1.0" encoding="utf-8"?>
<!--
	For more information on how to configure your ASP.NET application, please visit
	http://go.microsoft.com/fwlink/?LinkId=169433
	-->
<configuration>
	<configSections>
		<sectionGroup name="Navigation">
			<section name="StateInfo" type="Navigation.StateInfoSectionHandler, Navigation" />
		</sectionGroup>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<connectionStrings>
		<add connectionString="Data Source=fbf13ae5-f502-40d6-97cd-a450010091b2.sqlserver.sequelizer.com;Initial Catalog=dbfbf13ae5f50240d697cda450010091b2;User ID=lpltcfgrmjzbnttg;Password=WwrQiNrWJuwBtKHSNCkguoawkpVsCfiWSEBrPvMVtLjTYUu3VmxcJN4Gv3E228tD" name="DefaultConnection" providerName="System.Data.SqlClient" />
		<add connectionString="Data Source=f510f882-9fc6-4b27-9b42-a45000f57e44.sqlserver.sequelizer.com;Initial Catalog=dbf510f8829fc64b279b42a45000f57e44;User ID=whesjmrzsbbdpuuk;Password=SQQBaL7wwsn65knEW3eaGexvRCJ3xy2KbTf3bqMpsVvdqS8EYFuRSWZNsuSEcd77" name="WingtipToys" providerName="System.Data.SqlClient" />    
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.5" controlBuilderInterceptorType="Navigation.NavigationDataControlBuilderInterceptor, Navigation">
			<expressionBuilders>
				<add expressionPrefix="NavigationData" type="Navigation.NavigationDataExpressionBuilder, Navigation" />
			</expressionBuilders>
		</compilation>
		<httpRuntime targetFramework="4.5" />
	</system.web>
	<Navigation>
		<StateInfo configSource="StateInfo.config" />
	</Navigation>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
	</entityFramework>
</configuration>