table.BXIconButton {font-family:Verdana,Arial,helvetica,sans-serif;}
table.BXIconButton td {padding:0px; font-size:8pt; color:black;}
table.BXIconButton a.context-button {display:block; -box-sizing:border-box; -webkit-box-sizing: border-box;-moz-box-sizing:border-box; background-repeat:no-repeat; padding:0px; border:0px; margin:1px 2px 1px 2px; white-space:nowrap;}
table.BXIconButton a.context-button:hover {height:22px; margin:0px 1px 0px 1px; border:1px solid #AEB6C2; background-color:#DBE3F2;}
table.BXIconButton a.icon-button {height:20px; padding-left:20px; background-repeat:no-repeat; background-position:0px 0px;}
table.BXIconButton a.pressed {height:22px; margin:0px 1px 0px 1px; border:1px solid #A6A6A6; background-color:white;}
table.BXIconButton a, table.BXIconButton a:visited, table.BXIconButton a:active {color:#5556AB; text-decoration:none;}
table.BXIconButton a:hover {color:black;}

table.BXIconButton a.edit {background-image:url(images/actions/edit_button.gif); }
table.BXIconButton a.delete {background-image:url(images/actions/delete_button.gif); }
table.BXIconButton a.access {background-image:url(images/actions/access_button.gif); }
table.BXIconButton a.edit-dis {background-image:url(images/actions/edit_button_dis.gif); }
table.BXIconButton a.delete-dis {background-image:url(images/actions/delete_button_dis.gif); }
table.BXIconButton a.access-dis {background-image:url(images/actions/access_button_dis.gif); }