

table.langtranslatetable {border-collapse: collapse; width:100%}
table.langtranslatetable tr {border: none}
td.langtranslatelocale {padding-left:20px; width:20%}
td.langtranslateline {width:70%}
td.langtranslatedelete {width:10%}

td.langselectfile {padding-right:20px}
td.langselecttotal {text-align:center; color:Green; width:30px}
td.langselectlocale {text-align:center; width:40px}
td.langselectcount {text-align:center; color:Red}
