div.user-list-page-navigation { padding:0.5em 0;}
div.user-list-navigation-top { border-bottom: none; }
div.user-list-navigation-bottom { border-top: none; margin-bottom: 1em;}
div.user-list-container { }
div.user-info1-container { width:250px; overflow:hidden; font-family:Tahoma,Verdana,Helvetica,sans-serif; font-size: 1.15em; }
div.user-info2-container { width:200px; overflow:hidden; font-family:Tahoma,Verdana,Helvetica,sans-serif; font-size: 1 em;  }
a.user-profile-img-link {}
a.user-profile-img-link img { border:none 0; }
a.user-profile-text-link { font-size: 1.1em;  }
div.user-list-note-box {border-width:1px; border-style: solid; margin: 1.117em 0; padding: 0.4em 1.117em; border-color: #ffc85e; background: #fffdc7;}