<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<%@ Master Language="C#" Inherits="Bitrix.UI.BXMasterPage" %>
<html>
<head id="Head1" runat="server">
</head>
<body>
	<form id="form1" runat="server">
		<bx:TemplateRequisite runat="server" ID="Requisite"/>
		<div id="container">
		<% if (!string.IsNullOrEmpty(TitleHtml)) { %><h1><%= TitleHtml %></h1><% } %>
		<asp:ContentPlaceHolder ID="BXContent" runat="server">
		</asp:ContentPlaceHolder>
		</div>
	</form>
</body>
</html>