div.bx-media-gallery-element-list { padding: 10px 0px; }
div.bx-media-gallery-element-container { clear:both; padding:0px 10px 0px 10px; }
div.bx-media-gallery-element-selected { padding:10px 0px; background:#bababa; }
div.bx-media-gallery-element-normal { padding:10px 0px; background:#ffffff; }
div.bx-media-gallery-element-hover { padding:10px 0px; background: #e8e8e8; }
div.bx-media-gallery-element-preview-conainer { float:left; margin-right:12px; margin-left:5px; }
div.bx-media-gallery-element-preview-conainer img { cursor:pointer; border-style:none; }
div.bx-media-gallery-element-description-container { font-size:11px; }
a.bx-media-gallery-element-description { font-weight: bold; padding-bottom:3px; display:block; cursor:pointer; }
div.bx-media-gallery-element-description-param-line-bottom { padding-top:5px; }
div.bx-media-gallery-element-delimiter-gray-mono-grad2 { background: url('images/line.gif') center center repeat-x; display:block; height:3px; }
div.bx-media-gallery-element-description-param-line { float:left; }
div.bx-media-gallery-element-description-param-delimiter { background: url('images/param_delimiter.gif') left bottom no-repeat; float:left; width:21px; height:13px; }

div.bx-media-gallery-element-preview-conainer a { border-style:none !important; border-width:0 !important; color:Black !important; }
div.bx-media-gallery-element-description-container p.announcement { line-height:15px; height:30px; overflow:hidden; margin:3px 0px; padding:0px; }


