/* Link Paste Dialog */
div.bx-link-paste-dialog-container-wrapper { width:544px !important }
div.bx-link-paste-dialog-content-container {}
div.bx-link-paste-dialog-label-container { padding: 3px 4px 3px 0; }
.bx-link-paste-dialog-label {}
.bx-link-paste-dialog-legend { font-style:italic; }
div.bx-link-paste-dialog-input-container { padding: 3px 0 3px 0; }
.bx-link-paste-dialog-input-text { width:400px; }
/* Image Paste Dialog */
div.bx-image-paste-dialog-container-wrapper { width:544px !important; }
div.bx-image-paste-dialog-content-container { }
.bx-image-paste-dialog-label { }
.bx-image-paste-dialog-legend { font-style:italic; }
.bx-image-paste-dialog-input-file { width:300px; }
.bx-image-paste-dialog-input-text { width:400px; }
div.bx-image-paste-dialog-thumb-container-wrapper
{
	padding: 0 0 5px 0;
	margin:0;
	border: solid 1px #77858F;
	position:relative;	
}
div.bx-image-paste-dialog-thumb-container
{
	width:420px;
	height:200px;
	margin:0;
	overflow-x:hidden;
	overflow-y:auto; 
	position:relative;
	zoom:1;
}
div.bx-image-paste-dialog-thumbnail-wrapper1
{
	width:95px;
	height:95px;
	float:left;
	margin:5px 0 0 5px;
	padding:0;
	border:none 0;	
	overflow:hidden;
	zoom:1;	
	background-color:#FFFFFF;	
}
div.bx-image-paste-dialog-thumbnail-wrapper2
{
	margin:0;
	padding:0;
	border:solid 1px #FFFFFF;
	overflow:hidden;
	zoom:1;			
}
div.bx-image-paste-dialog-thumbnail-wrapper2-selected
{
	margin:0;
	padding:0;
	border:solid 1px #2A9F00;
	overflow:hidden;
	zoom:1;			
}
div.bx-image-paste-dialog-thumbnail-wrapper3
{
	margin:0;
	padding:1px;
	border:none 0;
	overflow:hidden;
	zoom:1;			
}
div.bx-image-paste-dialog-thumbnail-container
{
	width:90px;
	height:90px;	
	margin:0;
	padding:0;
	border:none 0; 	
	position:relative;	
	overflow:hidden;
	zoom:1;		
}
div.bx-image-paste-dialog-thumbnail-delete
{
	background: transparent url(images/delete.gif) no-repeat scroll 0 0;
	position:absolute;
	width:12px;
	height:12px;
	top:2px;
	left:2px;
	cursor:pointer;
}
img.bx-image-paste-dialog-thumbnail-img { cursor:pointer; }
span.bx-image-paste-dialog-wait-for-loading-completion { font-family:Tahoma; font-weight:bold; font-size:1.2em; }
/* Audio Paste Dialog */
div.bx-audio-paste-dialog-container-wrapper { width:440px !important; zoom:1; }
div.bx-audio-paste-dialog-content-container { zoom:1; }
div.bx-audio-paste-dialog-container .content-container-table { zoom:1; width:425px; }
.bx-audio-paste-dialog-label {}
div.bx-audio-paste-dialog-label-container { padding: 3px 4px 3px 0; }
.bx-audio-paste-dialog-legend { font-style:italic; }
.bx-audio-paste-dialog-input-text { width:270px; }
.bx-audio-paste-dialog-input-number { width:60px; }
div.bx-audio-paste-dialog-input-container { padding: 3px 0 3px 0; }
.bx-audio-paste-dialog-button { width:80px; padding:0px; }
div.bx-audio-player-container { position:relative; width:405px; height:auto; margin:0px; padding:0px; overflow:hidden; zoom:1; }
div.bx-audio-player-screen-stub { position:absolute; top:0px; left:0px; width:405px; height:5px; background-color:#FFFFFF; padding:0px; margin:0px; overflow:hidden; border-bottom:solid 1px #535353; zoom:1; }
div.bx-audio-player-inner-container { }
/* Movie Paste Dialog */
div.bx-movie-paste-dialog-container-wrapper { width:460px !important; }
div.bx-movie-paste-dialog-content-container { }
div.bx-movie-paste-dialog-container .content-container-table { width:425px; }
.bx-movie-paste-dialog-label { }
.bx-movie-paste-dialog-legend { font-style:italic; }
.bx-movie-paste-dialog-input-text { width:270px; }
.bx-movie-paste-dialog-input-number { width:60px; }
.bx-movie-paste-dialog-button { width:80px; }
/* Code Paste Dialog */
div.bx-code-paste-dialog-container-wrapper { width:544px !important }
div.bx-code-paste-dialog-content-container {}
div.bx-code-paste-dialog-label-container { padding: 3px 4px 3px 0; }
.bx-code-paste-dialog-label {}
div.bx-code-paste-dialog-select-container { padding: 3px 0 3px 0; }
.bx-code-paste-dialog-select { width:250px; }
div.bx-code-paste-dialog-text-area-container { padding: 3px 0 3px 0; }
.bx-code-paste-dialog-text-area { width:500px; height:300px; }