<?xml version="1.0" encoding="utf-8" ?>
<assemblies>
	<module>Main</module>
	<private>
		<library managed="false">bgd</library>
		<library>Bitrix.GDImport</library>
		<library>Bitrix.GDProxy</library>
		<library>Bitrix.Activation</library>
		<library>Main.Design</library>
		<library>Main.Design.Services</library>
	</private>
</assemblies>