<?xml version="1.0"?>
<captcha>
  <presets>
    <preset name="Retro"
         fontFamilyName="elephant, arial" textTransparency="10"
         backgroundColorFrom="#FFFFFF" backgroundColorTo="#FFFFFF"
         leftOffset="7" fontSize="20" fontColorFrom="#000000" fontColorTo="#646464"
         numEllipses="100" ellipsesColorFrom="#7F7F7F" ellipsesColorTo="#FFFFFF"
         textUnderLines="false" numLines="20" lineColorFrom="#6E6E6E" lineColorTo="#FAFAFA"
         vertAngleOfDipFrom="-20" vertAngleOfDipTo="20"
         symbolDistanceFrom="0" symbolDistanceTo="7"
         nonlinearDistortion="false" borderColor="#000000" />
    <preset name="Waves"
          fontFamilyName="bitrix CAPTCHA, comic sans ms" textTransparency="0"
          backgroundColorFrom="#FFFFFF" backgroundColorTo="#FFFFFF"
          leftOffset="52" fontSize="26" fontColorFrom="#000000" fontColorTo="#000000"
          numEllipses="0" ellipsesColorFrom="#000000" ellipsesColorTo="#000000"
          textUnderLines="false" numLines="0" lineColorFrom="#000000" lineColorTo="#000000"
          vertAngleOfDipFrom="-15" vertAngleOfDipTo="15"
          symbolDistanceFrom="-8" symbolDistanceTo="-4"
          nonlinearDistortion="true" borderColor="#000000" />
    <preset name="Lines"
          fontFamilyName="bitrix CAPTCHA, comic sans ms" textTransparency="0"
          backgroundColorFrom="#FFFFFF" backgroundColorTo="#FFFFFF"
          leftOffset="52" fontSize="26" fontColorFrom="#000000" fontColorTo="#000000"
          numEllipses="0" ellipsesColorFrom="#000000" ellipsesColorTo="#000000"
          textUnderLines="true" numLines="15" lineColorFrom="#FFFFFF" lineColorTo="#FFFFFF"
          vertAngleOfDipFrom="-15" vertAngleOfDipTo="15"
          symbolDistanceFrom="-8" symbolDistanceTo="-4"
          nonlinearDistortion="true" borderColor="#000000" />
    <preset name="Negative"
         fontFamilyName="elephant, arial" textTransparency="0"
         backgroundColorFrom="#000000" backgroundColorTo="#000000"
         leftOffset="26" fontSize="26" fontColorFrom="#FFFFFF" fontColorTo="#FFFFFF"
         numEllipses="0" ellipsesColorFrom="#FFFFFF" ellipsesColorTo="#FFFFFF"
         textUnderLines="true" numLines="0" lineColorFrom="#FFFFFF" lineColorTo="#FFFFFF"
         vertAngleOfDipFrom="-15" vertAngleOfDipTo="15"
         symbolDistanceFrom="-12" symbolDistanceTo="-6"
         nonlinearDistortion="false" borderColor="#FFFFFF" />
    <preset name="Green"
          fontFamilyName="elephant, arial" textTransparency="50"
          backgroundColorFrom="#00C000" backgroundColorTo="#00C000"
          leftOffset="18" fontSize="26" fontColorFrom="#001000" fontColorTo="#003000"
          numEllipses="0" ellipsesColorFrom="#000000" ellipsesColorTo="#000000"
          textUnderLines="false" numLines="0" lineColorFrom="#000000" lineColorTo="#000000"
          vertAngleOfDipFrom="-15" vertAngleOfDipTo="15"
          symbolDistanceFrom="-10" symbolDistanceTo="-4"
          nonlinearDistortion="false" borderColor="#FFFFFF" />
    <preset name="Warm"
          fontFamilyName="bitrix CAPTCHA, comic sans ms" textTransparency="25"
          backgroundColorFrom="#CC0000" backgroundColorTo="#CCCCCC"
          leftOffset="32" fontSize="32" fontColorFrom="#CCCCCC" fontColorTo="#FFFFFF"
          numEllipses="0" ellipsesColorFrom="#FFFFFF" ellipsesColorTo="#FFFFFF"
          textUnderLines="true" numLines="0" lineColorFrom="#FFFFFF" lineColorTo="#FFFFFF"
          vertAngleOfDipFrom="-15" vertAngleOfDipTo="15"
          symbolDistanceFrom="-8" symbolDistanceTo="-6"
          nonlinearDistortion="false" borderColor="#FFFFFF" />
    <preset name="Pencil"
          fontFamilyName="elephant, tahoma" textTransparency="50"
          backgroundColorFrom="#FFFFFF" backgroundColorTo="#FFFFFF"
          leftOffset="13" fontSize="26" fontColorFrom="#001000" fontColorTo="#003000"
          numEllipses="0" ellipsesColorFrom="#FFFFFF" ellipsesColorTo="#FFFFFF"
          textUnderLines="true" numLines="30" lineColorFrom="#00A650" lineColorTo="#00FFF0"
          vertAngleOfDipFrom="-20" vertAngleOfDipTo="20"
          symbolDistanceFrom="-8" symbolDistanceTo="-6"
          nonlinearDistortion="true" borderColor="#FFFFFF" />
    <preset name="YellowPaint"
          fontFamilyName="elephant, times new roman" textTransparency="0"
          backgroundColorFrom="#000000" backgroundColorTo="#000000"
          leftOffset="4" fontSize="30" fontColorFrom="#000000" fontColorTo="#000000"
          numEllipses="115" ellipsesColorFrom="#FFFF00" ellipsesColorTo="#FFFF00"
          textUnderLines="false" numLines="50" lineColorFrom="#FFFF00" lineColorTo="#FFFF00"
          vertAngleOfDipFrom="-15" vertAngleOfDipTo="15"
          symbolDistanceFrom="-10" symbolDistanceTo="-5"
          nonlinearDistortion="false" borderColor="#000000" />
    <preset name="Drops"
          fontFamilyName="elephant, sylfaen" textTransparency="0"
          backgroundColorFrom="#FFFFFF" backgroundColorTo="#FFFFFF"
          leftOffset="16" fontSize="28" fontColorFrom="#00AEEF" fontColorTo="#00AEEF"
          numEllipses="40" ellipsesColorFrom="#6CCFF7" ellipsesColorTo="#6CCFF7"
          textUnderLines="false" numLines="0" lineColorFrom="#6CCFF7" lineColorTo="#6CCFF7"
          vertAngleOfDipFrom="-20" vertAngleOfDipTo="20"
          symbolDistanceFrom="-12" symbolDistanceTo="-8"
          nonlinearDistortion="true" borderColor="#000000" />
    <preset name="Soft"
          fontFamilyName="elephant, franklin gothic medium" textTransparency="10"
          backgroundColorFrom="#DEDEDE" backgroundColorTo="#FFFFFF"
          leftOffset="14" fontSize="28" fontColorFrom="#6CCFF7" fontColorTo="#6CCFF7"
          numEllipses="0" ellipsesColorFrom="#6CCFF7" ellipsesColorTo="#6CCFF7"
          textUnderLines="false" numLines="20" lineColorFrom="#6CCFF7" lineColorTo="#6CCFF7"
          vertAngleOfDipFrom="-20" vertAngleOfDipTo="0"
          symbolDistanceFrom="-8" symbolDistanceTo="-4"
          nonlinearDistortion="true" borderColor="#6CCFF7" />
  </presets>
</captcha>