<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<%@ Master Language="C#" AutoEventWireup="true" CodeFile="AdminMasterPage.master.cs" Inherits="BXDefaultAdminMasterPage" %>
<%@ Register Src="~/bitrix/admin/controls/Main/AdminBreadCrumb.ascx" TagName="AdminBreadCrumb" TagPrefix="uc1" %>
<%@ Register TagPrefix="bx" TagName="AdminMenu" Src="~/bitrix/admin/controls/Main/AdminMenu.ascx" %>

<%@ Import Namespace="Bitrix.Services" %>
<%@ Import Namespace="Bitrix.Configuration" %>

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
	<title></title>
</head>
<body>
    <form runat="server">
    <%= BXSpreadCookies.Flush() %>
    <asp:ScriptManager EnablePageMethods="true" EnablePartialRendering="true" EnableViewState="true" EnableScriptGlobalization="true" runat="server" ID="ScriptManagerMaster1" />
    <asp:UpdateProgress ID="UpdateProgress1" runat="server">
	<ProgressTemplate>
	    <asp:Panel ID="updatep1" runat="server" CssClass="waitwindow">
	        <asp:Label ID="updatel1" runat="server" Font-Size="Smaller" Text="<%$ Loc:Loading %>"></asp:Label>
	    </asp:Panel>
	</ProgressTemplate>
	</asp:UpdateProgress>
	<%= Bitrix.Security.BXCsrfToken.RenderAsHiddenField() %>
		<table cellpadding="0" cellspacing="0" border="0" width="100%" style="height:100%">
			<tr>
				<td class="toppanel">
					<bx:BXHermitageBackEndPanel ID="TopPanel1" runat="server" />
				</td>
			</tr>
			<tr>
				<td valign="top">

					<table cellpadding="0" cellspacing="0" border="0" width="100%" style="height:100%">
						<tr>
							<td class="toppanel-shadow"><div class="empty"></div></td>
							<td class="vdivider-top-bg" onmousedown="JsAdminMenu.StartDrag();" style="<%= string.Format("display:{0}", AboutAdminMenuShow ? "auto" : "none") %>"><div class="empty"></div></td>
							<td class="toppanel-shadow"><div class="empty"></div></td>
						</tr>
						<tr>
							<td valign="top" width="0%">
								<bx:AdminMenu ID="AdminMenu1" runat="server" />
							</td>
							<td width="0%" valign="top" style="<%= string.Format("display:{0}", AboutAdminMenuShow ? "auto" : "none") %>" class="vdivider-bg" onmousedown="JsAdminMenu.StartDrag();">
								<table cellpadding="0" cellspacing="0" border="0" class="vdivider">
									<tr><td class="top"><div class="empty"></div></td></tr>
									<tr><td class="vdividerknob vdividerknobleft" id="vdividercell" onmousedown="try{JsAdminMenu.toggle=true;}catch(e){}" onclick="try{JsAdminMenu.verSplitterToggle(); JsAdminMenu.toggle=false;}catch(e){}" onmouseover="try{JsAdminMenu.verSplitter.Highlight(true);}catch(e){}" onmouseout="try{JsAdminMenu.verSplitter.Highlight(false);}catch(e){}" title="<% =GetMessage("HideMenu") %>"><div class="empty"></div></td></tr>
								</table>
							</td>
							<td valign="top" width="100%">
								<div class="page-title">
									<div style="width:100%;">
										<asp:UpdatePanel runat="server" ID="MasterLabel" UpdateMode="Always" RenderMode="Inline">
										<ContentTemplate>
										<table cellspacing="0" width="100%">
											<tr>
												<td style="height: 57px"><div class="page-title-icon" id="<%= PageIconId %>"></div></td>
												<td width="100%" style="height: 57px"><h1><asp:Label ID="LabelPageTitle" runat="server" Text="Label"></asp:Label></h1></td>
												<td style="height: 57px"><a id="navchain-link" href="<%= HttpUtility.HtmlEncode(Request.RawUrl ?? "") %>" title="<% =GetMessage("CurrentPageLink") %>"></a></td>
											</tr>
										</table>
										</ContentTemplate>
										</asp:UpdatePanel>
									</div>
								</div>

								<div id="content_container_hor">
									<div style="width:100%;">
										<div id="main_navchain" class="navchain">
											<uc1:AdminBreadCrumb ID="AdminBreadCrumb1" runat="server" AdminMenuId="AdminMenu1" />
										</div>
										<div id="content_container_ver">
											<% 
												int left = 0;
												string message = BXConfigurationUtility.GetNotification();	
												bool reminder = BXConfigurationUtility.Reminder(out left);
												if (reminder || !string.IsNullOrEmpty(message))
												{
											%>
											<div class="notes">
												<table cellspacing="0" cellpadding="0" border="0" width="100%" class="notes">
													<tbody>
														<tr class="top">
															<td class="left">
																<div class="empty" />
															</td>
															<td>
																<div class="empty" />
															</td>
															<td class="right">
																<div class="empty" />
															</td>
														</tr>
														<tr>
															<td class="left">
																<div class="empty" />
															</td>
															<td class="content">
																<% if (!string.IsNullOrEmpty(message)) { %>
																	<%= message %>
																	<% if (reminder) { %>
																	<br />
																	<br />
																	<% } %>
																<% } %>
															
																<% if (reminder) { %>
																	<span class="required">
																		<%= string.Format(GetMessage("FormattedMessageText.UseSiteUpdateTechnologyToGetUpdates"), string.Format("<a href=\"{0}{1}\">", Bitrix.IO.BXPath.VirtualRootPath, "/bitrix/admin/UpdateSystem.aspx"), "</a>")%>
																		<br />
																	</span>
																	
																	<%= GetMessage("MessageText.ThisIsTrailVersion") %>
																	<%if (left >= 0) { %>
																	<%= string.Format(GetMessage("FormattedMessageText.TrialPeriodWillExpireInXDays"), string.Format("<span class=\"required\"><b>{0}</b></span>", left))%>
																	<% } else { %>
																	<%= GetMessage("MessageText.TrailPeriodHasExpired") %>
																	<% } %>
																	<%= GetMessage("MessageText.YouCanGetAFullVersion") %><br />
																<% } %>
															</td>
															<td class="right">
																<div class="empty" />
															</td>
														</tr>
														<tr class="bottom">
															<td class="left">
																<div class="empty" />
															</td>
															<td>
																<div class="empty" />
															</td>
															<td class="right">
																<div class="empty" />
															</td>
														</tr>
													</tbody>
												</table>
											</div>
											<%
												}
											%> 
											<asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
											</asp:ContentPlaceHolder>
										</div>
									</div>
								</div>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td class="footerpanel">
					<table cellpadding="0" cellspacing="0" border="0" width="100%">
						<tr>
							<td><% =GetMessage("Copyright") %></td>
							<td align="right"><%= GetMessage("BitrixCompany") %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= GetMessage("Support") %></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
    </form>
</body>
</html>
