<?xml version="1.0" encoding="utf-8" ?>
<dependencies>
	<component name="bitrix:blog.edit" template="%PARENT%" />
	<component name="bitrix:blog.post" template="%PARENT%" />
	<component name="bitrix:blog.menu" template="%PARENT%" />
	<component name="bitrix:blog.post.comments" template="%PARENT%" />
	<component name="bitrix:blog.post.form" template="%PARENT%" />
	<component name="bitrix:blog.post.list" template="%PARENT%" />
	<component name="bitrix:blog.posts" template="%PARENT%" />
</dependencies>