div.bbcode-line { margin-right: 2em; float: left;}
div.bbcode-line img { border: 0;}
div.bbcode-line a {vertical-align: middle;}

div.bbcode-line a
{
	width: 20px;
	height: 20px;
	float: left;
	margin-right: 0.2em;
	background-position: center center; 
	background-repeat:no-repeat;
	display: block;
}
div.bbcode-line a, div.bbcode-line img { outline: none; }
div.bbcode-line select { float: left; margin-left:3px; padding:0px; height:20px;} 
div.bbcode-clear-float { clear:both; }

/*BBCode Icons*/
a.bbcode-bold {background-image: url(../img/BBCode/font_bold.gif);}
a.bbcode-italic {background-image: url(../img/BBCode/font_italic.gif);}
a.bbcode-color {background-image: url(../img/BBCode/font_color.gif);}
a.bbcode-underline{background-image: url(../img/BBCode/font_underline.gif);}
a.bbcode-strike{background-image: url(../img/BBCode/font_strike.gif);}
a.bbcode-url{background-image: url(../img/BBCode/font_link.gif);}
a.bbcode-img{background-image: url(../img/BBCode/font_image.gif);}
a.bbcode-video{background-image: url(../img/BBCode/font_video.gif);}
a.bbcode-code{background-image: url(../img/BBCode/font_code.gif);}
a.bbcode-quote{background-image: url(../img/BBCode/font_quote.gif);}
a.bbcode-list{background-image: url(../img/BBCode/font_list.gif);}
a.bbcode-translit{background-image: url(../img/BBCode/font_translit.gif);}
a.bbcode-img-upload{background-image: url(../img/BBCode/font_image_upload.gif);}
a.blog-bbcode-video{background-image:url(../img/bbcode/font_video.gif);}
a.blog-bbcode-audio{background-image:url(../img/bbcode/font_audio.gif);}
a.bbcode-cut{background-image: url(../img/BBCode/font_cut.gif);}